<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 class="h4"><i class="fas fa-volume-up fa-lg"></i> Placi de sunet</h1>
      </div>

      <ul class="nav nav-tabs" id="soundCardTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="sound-card-tab" data-toggle="tab" href="#sound-card" role="tab"
             aria-controls="sound-card" aria-selected="true" (click)="goBack()">Toate produsele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="sound-card-stock-tab" data-toggle="tab" href="#sound-card-stock" role="tab"
             aria-controls="sound-card-stock" aria-selected="false">Vezi stocuri</a>
        </li>
      </ul>

      <div class="tab-content" id="soundCardTabContent">

        <!-- Tab Table Sound Card -->
        <div class="tab-pane fade show active mx-3" id="sound-card" role="tabpanel" aria-labelledby="sound-card-tab">
          <nav aria-label="Page navigation example">
            <div class="row py-3">
              <div class="col-auto mr-auto">
                <div class="form-control-custom pull-left">
                  <span class="pagination-info">Vezi </span>
                  <select class="btn-secondary" id="selectPageSize"
                          (change)="handlePageSizeChangeSearchAndFilter($event)">
                    <option>10</option>
                    <option>50</option>
                    <option>100</option>
                  </select>
                  <span class="pagination-info"> produse</span>
                </div>
              </div>
              <div class="col-auto">
                <input #inputSearch (keydown.enter)="getEventSearchResult($event)" class="search form-control"
                       placeholder="Cautare...">
              </div>
              <div class="btn-group col-auto" role="group" aria-label="filter-refresh-search">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modalSoundCard">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-info" (click)="clearSearch()">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-warning"
                        data-toggle="modal" data-target="#modal_aside_right">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </nav>

          <table class="table table-sm table-striped table-hover shadow-sm motherboard-table-custom">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Cod Produs</th>
              <th scope="col">Serial Number</th>
              <th scope="col">Nume Produs</th>
              <th scope="col">Producator</th>
              <th scope="col">Model</th>
              <th scope="col">Pret intrare (Lei)</th>
              <th scope="col">Informatii produs</th>
              <th scope="col">Stare</th>
              <th scope="col">Actiune</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let soundCard of soundCardList | paginate: {
        id: 'sound_card_pagination',
        itemsPerPage: pageSizeSoundCard,
        currentPage: pageSoundCard,
        totalItems: count
  }">
              <td>{{soundCard.productCode}}</td>
              <td>{{soundCard.serialNumber}}</td>
              <td>{{soundCard.productName}}</td>
              <td>{{soundCard.manufacturer}}</td>
              <td>{{soundCard.model}}</td>
              <td>{{soundCard.priceIn}}</td>
              <td>{{soundCard.productInformation}}</td>
              <td>{{soundCard.state}}</td>
              <td>
                <a class="mr-2" type="button" (click)="patchForm(soundCard)" data-toggle="modal"
                   data-target="#modalSoundCard"><i
                  class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
                <a type="button" (click)="deleteSoundCard(soundCard)"><i class="fa fa-trash fa-lg"
                                                                         style="color: red"></i></a>
              </td>
            </tr>
            </tbody>
          </table>

          <!--    CARD TABLE FOR RESOLUTIONS UNDER 1024-->
          <div class="row row-cols-1 row-cols-lg-2" id="card-component">
            <div *ngFor="let soundCard of soundCardList | paginate: {
    id: 'sound_card_pagination',
    itemsPerPage: pageSizeSoundCard,
    currentPage: pageSoundCard,
    totalItems: count
    }" class="col mb-4">
              <div class="card border-secondary mb-3 h-100">
                <div class="card-header text-center"><span class="h6">Cod Produs: </span>{{soundCard.productCode}}</div>
                <div class="card-body text-card-custom">
                  <span class="title-span-custom">Serial Number: </span> <span
                  class="pull-right">{{soundCard.serialNumber}}</span>
                  <br><span class="title-span-custom">Nume Produs: </span> <span
                  class="pull-right">{{soundCard.productName}}</span>
                  <br><span class="title-span-custom">Producator: </span> <span
                  class="pull-right">{{soundCard.manufacturer}}</span>
                  <br><span class="title-span-custom">Model: </span> <span
                  class="pull-right">{{soundCard.model}}</span>
                  <br><span class="title-span-custom">Pret intrare: </span> <span
                  class="pull-right">{{soundCard.priceIn}}</span>
                  <br><span class="title-span-custom">Informatii produs: </span> <span
                  class="pull-right">{{soundCard.productInformation}}</span>
                  <br><span class="title-span-custom">Stare: </span> <span class="pull-right">{{soundCard.state}}</span>
                  <br><span class="title-span-custom">Actiune: </span>
                  <span class="pull-right">
            <a class="mr-2" type="button" (click)="patchForm(soundCard)" data-toggle="modal"
               data-target="#modalSoundCard"><i
              class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
            <a type="button" (click)="deleteSoundCard(soundCard)"><i class="fa fa-trash fa-lg"
                                                                     style="color: red"></i></a>
            </span>
                </div>
              </div>
            </div>
          </div>
          <!--    END CARD TABLE FOR RESOLUTIONS UNDER 1024-->

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <pagination-controls id="sound_card_pagination" previousLabel="Inapoi" nextLabel="Urmatorul"
                                   responsive="true" directionLinks="true"
                                   (pageChange)="handlePageChangeSearchAndFilter($event)"
                                   (pageBoundsCorrection)="handlePageChangeSearchAndFilter($event)">
              </pagination-controls>
            </ul>
          </nav>

        </div>
        <!-- End Tab Table Sound Card -->

        <!-- Table Sound Card by Product Code -->
        <div class="tab-pane fade mx-3" id="sound-card-stock" role="tabpanel" aria-labelledby="sound-card-stock-tab">

          <!-- Table Stock Sound Card -->
          <div *ngIf="isTableProductCodeSelected">
            <nav aria-label="Page navigation stock table">
              <div class="row py-3">
                <div class="col-auto mr-auto">
                  <div class="form-control-custom pull left">
                    <span class="pagination-info">Vezi </span>
                    <select class="btn-secondary" id="selectPageSizeForStock" (change)="handlePageSizeChangeProductCodesWithStock($event)">
                      <option>10</option>
                      <option>50</option>
                      <option>100</option>
                    </select>
                    <span class="pagination-info"> coduri de produs</span>
                  </div>
                </div>
                <div class="col-auto my-auto-2">
                  <input #inputSearchStock (keydown.enter)="getSearchResultProductCodesWithStock($event)"
                         class="search form-control"
                         placeholder="Cautare...">
                </div>
                <div class="col-auto">
                  <button class="btn btn-info" (click)="clearSearchProductCodesWithStock()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </nav>
            <table class="table table-striped table-hover shadow-sm table-power-source">
              <thead class="thead-dark">
              <tr>
                <th>Cod Produs</th>
                <th>Nume produs</th>
                <th>Stoc</th>
                <th>Pret mediu</th>
                <th>Placi de sunet</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let productCode of productCodesWithStock | paginate: {
id: 'product_codes_with_stock',
itemsPerPage: pageSizeProductCodeWithStock,
currentPage: pageProductCodeWithStock,
totalItems: countProductCodeWithStock
}">
                <td>{{productCode.productCode}}</td>
                <td>{{productCode.productName}}</td>
                <td>{{productCode.stock}}</td>
                <td>{{productCode.averagePrice | number: '1.2-2'}}</td>
                <td>
                  <button (click)="getSoundCardByProductCode(productCode.productCode)" type="button" class="btn btn-info">
                    Vezi <i class="fa fa-external-link" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

            <!--    CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <div class="row row-cols-1 row-cols-lg-2" id="card-component-by-stock">
              <div *ngFor="let productCode of productCodesWithStock | paginate: {
                        id: 'product_codes_with_stock',
                        itemsPerPage: pageSizeProductCodeWithStock,
                        currentPage: pageProductCodeWithStock,
                        totalItems: countProductCodeWithStock
                        }" class="col mb-4">
                <div class="card border-secondary mb-3 h-100" >
                  <div class="card-header text-center"><span class="h6">Cod Produs: </span>{{productCode.productCode}}</div>
                  <div class="card-body text-card-custom">
                    <br><span class="title-span-custom">Nume Produs: </span> <span class="pull-right">{{productCode.productName}}</span>
                    <br><span class="title-span-custom">Stock: </span> <span class="pull-right">{{productCode.stock}}</span>
                    <br><span class="title-span-custom">Pret mediu: </span> <span class="pull-right">{{productCode.averagePrice | number: '1.2-2'}}</span>
                    <br><span class="title-span-custom">Placi de sunet: </span>
                    <button (click)="getSoundCardByProductCode(productCode.productCode)" type="button"
                            class="btn btn-info pull-right">
                      Vezi <i class="fa fa-external-link" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--    END CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" id="product_codes_with_stock"
                                     (pageChange)="handlePageChangeProductCodesWithStock($event)"
                                     (pageBoundsCorrection)="handlePageChangeProductCodesWithStock($event)"></pagination-controls>
              </ul>
            </nav>
          </div>
          <!-- End Table Stock Sound Card -->

          <!-- Table Sound Card by Product Code -->
          <div *ngIf="!isTableProductCodeSelected">
            <nav aria-label="Page navigation example">
              <div class="row py-3">
                <div class="col-auto mr-auto">
                  <div class="form-control-custom pull-left">
                    <span class="pagination-info">Vezi </span>
                    <select class="btn-secondary" id="selectPageSizeByProductCode"
                            (change)="handlePageSizeChangeSoundCardByProductCode($event)">
                      <option>10</option>
                      <option>50</option>
                      <option>100</option>
                    </select>
                    <span class="pagination-info"> produse</span>
                  </div>
                </div>
                <div class="btn-group col-auto" role="group" aria-label="add-product-back-to-list">
                  <button (click)="goBack()" type="button" class="btn btn-warning" >Inapoi la lista</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                          data-target="#modalSoundCard">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </nav>
            <table class="table table-sm table-striped table-hover shadow-sm motherboard-table-custom">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Cod Produs</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Nume Produs</th>
                <th scope="col">Producator</th>
                <th scope="col">Model</th>
                <th scope="col">Pret intrare (Lei)</th>
                <th scope="col">Informatii produs</th>
                <th scope="col">Stare</th>
                <th scope="col">Actiune</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let soundCard of soundCardListByProductCode | paginate: {
        id: 'sound_card_by_product_code',
itemsPerPage: pageSizeSoundCardByProductCode,
currentPage: pageSoundCardByProductCode,
totalItems: countSoundCardByProductCode
}">
                <td>{{soundCard.productCode}}</td>
                <td>{{soundCard.serialNumber}}</td>
                <td>{{soundCard.productName}}</td>
                <td>{{soundCard.manufacturer}}</td>
                <td>{{soundCard.model}}</td>
                <td>{{soundCard.priceIn}}</td>
                <td>{{soundCard.productInformation}}</td>
                <td>{{soundCard.state}}</td>
                <td>
                  <a class="mr-2" type="button" (click)="patchForm(soundCard)" data-toggle="modal" data-target="#modalSoundCard"><i
                    class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
                  <a type="button" (click)="deleteSoundCard(soundCard)"><i class="fa fa-trash fa-lg"
                                                                           style="color: red"></i></a>
                </td>
              </tr>
              </tbody>
            </table>

            <!--    CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <div class="row row-cols-1 row-cols-lg-2" id="card-component-by-product-code">
              <div *ngFor="let soundCard of soundCardListByProductCode | paginate: {
                        id: 'sound_card_by_product_code',
                        itemsPerPage: pageSizeSoundCardByProductCode,
                        currentPage: pageSoundCardByProductCode,
                        totalItems: countSoundCardByProductCode
                        }" class="col mb-4">
                <div class="card border-secondary mb-3 h-100">
                  <div class="card-header text-center"><span class="h6">Cod Produs: </span>{{soundCard.productCode}}</div>
                  <div class="card-body text-card-custom">
                    <span class="title-span-custom">Serial Number: </span> <span class="pull-right">{{soundCard.serialNumber}}</span>
                    <br><span class="title-span-custom">Nume Produs: </span> <span class="pull-right">{{soundCard.productName}}</span>
                    <br><span class="title-span-custom">Producator: </span> <span class="pull-right">{{soundCard.manufacturer}}</span>
                    <br><span class="title-span-custom">Model: </span> <span class="pull-right">{{soundCard.model}}</span>
                    <br><span class="title-span-custom">Pret intrare: </span> <span class="pull-right">{{soundCard.priceIn}}</span>
                    <br><span class="title-span-custom">Informatii produs: </span> <span class="pull-right">{{soundCard.productInformation}}</span>
                    <br><span class="title-span-custom">Stare: </span> <span class="pull-right">{{soundCard.state}}</span>
                    <br><span class="title-span-custom">Actiune: </span>
                    <span class="pull-right">
            <a class="mr-2" type="button" (click)="patchForm(soundCard)" data-toggle="modal" data-target="#modalSoundCard"><i
              class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
            <a type="button" (click)="deleteSoundCard(soundCard)"><i class="fa fa-trash fa-lg" style="color: red"></i></a>
            </span>
                  </div>
                </div>
              </div>
            </div>
            <!--    END CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" id="sound_card_by_product_code"
                                     (pageChange)="handlePageChangeSoundCardByProductCode($event)"
                                     (pageBoundsCorrection)="handlePageChangeSoundCardByProductCode($event)"></pagination-controls>
              </ul>
            </nav>
          </div>
          <!-- End Table All Sound Card by Product Code -->
        </div>
        <!-- End Table Sound Card by Product Code -->

      </div>

    </div>
  </div>
</div>


<!-- Modal Add/Edit Sound Card -->
<div class="modal fade" id="modalSoundCard" data-backdrop="static" data-keyboard="false"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="isAddMode" class="modal-title" id="staticBackdropLabel"><i class="fas fa-volume-up fa-lg"></i> Adauga placa de sunet</h5>
        <h5 *ngIf="!isAddMode" class="modal-title" id="editStaticBackdropLabel"><i class="fas fa-volume-up fa-lg"></i> Editare
          placi de sunet</h5>
        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col">
              <label for="productCode"><i class="fa fa-barcode fa-sm"></i> Cod produs</label>
              <input type="text" class="form-control" id="productCode" [value]="selectedProductCode" formControlName="productCode" >
            </div>

            <div class="form-group col-lg-4">
              <label for="productName"><i class="fa fa-product-hunt fa-sm"></i> Nume produs</label>
              <ng-select id="productName" (ngModelChange)="setGeneratedProductCode($event)"
                         formControlName="productName">
                <ng-option *ngFor="let generatedProductCode of productCodesList"
                           [value]="generatedProductCode.productName">
                  {{generatedProductCode.productName}}
                </ng-option>
              </ng-select>
            </div>

            <div class="form-group col">
              <label for="manufacturer"><i class="fa fa-industry fa-sm"></i> Producator</label>
              <input type="text" class="form-control" id="manufacturer" formControlName="manufacturer">
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label for="serialNumber"><i class="fa fa-barcode fa-sm"></i> Serial number</label>
              <input type="text" class="form-control" id="serialNumber" formControlName="serialNumber">

              <div *ngIf="isSerialNumberPresent" class="form-group alert alert-warning">
                <span>{{errorMessage}}</span>
              </div>
            </div>

            <div class="form-group col-lg-4">
              <label for="model"><img class="fav-icon-small" src="../../../../../assets/icons/sound_model.ico"/> Model</label>
              <input type="text" class="form-control" id="model" formControlName="model">
            </div>

            <div class="form-group col">
              <label for="priceIn"><i class="fa fa-money fa-sm"></i> Pret intrare (Lei)</label>
              <input type="number" class="form-control" id="priceIn" formControlName="priceIn" min="0">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-4">
              <label for="state"><img class="fav-icon-small" src="../../../../../assets/icons/state.ico"/> Stare</label>
              <select class="form-control" id="state" formControlName="state">
                <option disabled value="" selected>Selecteaza stare...</option>
                <option *ngFor="let state of stateList">{{state}}</option>
              </select>
            </div>
            <div class="form-group col-lg-8">
              <label for="productInformation"><i class="fa fa-info-circle fa-sm"></i> Informatii produs</label>
              <input type="text" class="form-control" id="productInformation" formControlName="productInformation">
            </div>
          </div>

          <div class="modal-footer">
            <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">
              Inchide
            </button>
            <button id="addSoundCard-btn" *ngIf="isAddMode" type="submit" class="btn btn-primary"
                    data-target="#modalSoundCard"
                    [disabled]="validatingForm.invalid">Adauga
            </button>
            <button id="editSoundCard-btn" *ngIf="!isAddMode" type="submit" class="btn btn-success"
                    data-target="#modalSoundCard"
                    [disabled]="validatingForm.invalid">Salveaza modificarile
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal End Add/Edit Sound Card -->

<!-- Modal Filter Right -->
<div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-aside" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filtreaza placi de sunet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="accordion">

          <div class="card">
            <div class="card-header" id="headingManufacturer">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseManufacturer"
                        aria-expanded="false"
                        aria-controls="collapseManufacturer">
                  Producator<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseManufacturer" class="collapse" aria-labelledby="headingManufacturer"
                 data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let manufacturer of manufacturersList">
                  <input class="form-check-input" type="checkbox" value="{{manufacturer}}" id="{{manufacturer}}"
                         name="manufacturer">
                  <label class="form-check-label" for="{{manufacturer}}">
                    {{manufacturer}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingModel">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseModel"
                        aria-expanded="false"
                        aria-controls="collapseModel">
                  Model<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseModel" class="collapse" aria-labelledby="headingModel"
                 data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let model of modelList">
                  <input class="form-check-input" type="checkbox" value="{{model}}" id="{{model}}"
                         name="model">
                  <label class="form-check-label" for="{{model}}">
                    {{model}}
                  </label>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="headingState">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseState"
                        aria-expanded="false" aria-controls="collapseState">
                  Stare<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseState" class="collapse" aria-labelledby="headingState" data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let state of stateList">
                  <input class="form-check-input" type="checkbox" value="{{state}}" id="{{state}}"
                         name="state">
                  <label class="form-check-label" for="{{state}}">
                    {{state}}
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="resetFilters()" type="button" class="btn btn-primary">Reseteaza filtre</button>
      </div>
    </div>
  </div> <!-- modal-bialog .// -->
</div>
<!-- End Modal Filter Right -->
