<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Brand Computers</title>

</head>

<body class="login">
<div>

  <div class="login_wrapper">
    <div class="form login_form">
      <section class="login_content">
        <img src="./assets/images/logo250X80.png">
        <form (ngSubmit)="onSubmit()" *ngIf="!isLoggedIn">
          <h1>Autentificare</h1>

          <div *ngIf="isLoginFailed" class="alert alert-warning">
            {{errorMessage}}
          </div>

          <div>
            <input type="text" class="form-control" [formControl]="email" placeholder="Email" required="" />
          </div>
          <div>
            <input type="password" class="form-control" [formControl]="password"  placeholder="Parola" required="" />
          </div>
          <div>
            <button class="btn btn-default submit" type="submit">Conectare</button>
            <a class="reset_pass" href="#">Ai uitate parola ?</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">Nu ai cont ?
              <a [routerLink]="['/register']" class="to_register"> Inregistreaza-te </a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1><i class="fa fa-desktop"></i> Aplicatie de gestiune</h1>
              <p>©2021 Toate drepturile rezervate.</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
</body>
</html>
