<div class="container-fluid mx-auto">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 class="h4"><i class="fa fa-qrcode "></i>
          Cod produs / Placi de baza</h1>
      </div>
      <nav aria-label="Page navigation example">
        <div class="row py-3">
          <div class="col-auto">
            <input #inputSearch (keydown.enter)="getEventSearchResult($event)" class="search form-control"
                   placeholder="Cautare...">
          </div>
          <div class="btn-group col-auto" role="group" aria-label="add-product-code-refresh-search">
            <button id="add-product-code-btn" (click)="toggleForm()" type="button"
                    class="btn btn-primary">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button class="btn btn-info" (click)="clearSearch()">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <form id="productCodeForm" *ngIf="isOpenForm" class="form-inline" [formGroup]="validatingForm"
              (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="productCode"><i class="fa fa-barcode fa-sm"></i> Cod Produs</label>
            <input type="text" id="productCode" class="form-control mx-sm-3" formControlName="productCode">
          </div>
          <div class="form-group">
            <label for="productName"><i class="fa fa-product-hunt fa-sm"></i> Nume Produs</label>
            <input type="text" id="productName" class="form-control mx-sm-3" formControlName="productName">
          </div>
          <button type="submit" class="btn btn-primary" *ngIf="isAddMode">Adauga</button>
          <button type="submit" class="btn btn-success" *ngIf="!isAddMode">Salveaza modificarile</button>
          <button type="button" (click)="toggleForm()" class="btn btn-danger" id="close-btn">Inchide</button>
        </form>
      </nav>
      <table class="table table-striped table-hover shadow-sm table-power-source">
        <thead class="thead-dark">
        <tr>
          <th>Cod Produs</th>
          <th>Nume Produs</th>
          <th>Data</th>
          <th>Actiune</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let productCode of productCodeList">
          <td>{{productCode.productCode}}</td>
          <td>{{productCode.productName}}</td>
          <td>{{productCode.createdDate | date: 'dd/MM/yyyy'}}</td>
          <td>
            <a class="mr-2" type="button" (click)="getMyObject(productCode)">
              <i class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
            <a type="button" (click)="deleteProductCode(productCode)">
              <i class="fa fa-trash fa-lg" style="color: red"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
      <!--    CARD TABLE FOR RESOLUTIONS UNDER 1024-->
      <div class="row row-cols-1 row-cols-lg-2">
        <div *ngFor="let productCode of productCodeList" class="col mb-4">
          <div class="card border-secondary mb-3 h-100" id="card-generate-product-code">
            <div class="card-header text-center"><span class="h6">Cod Produs: </span>{{productCode.productCode}}</div>
            <div class="card-body text-card-custom">
              <br><span class="title-span-custom">Nume Produs: </span> <span class="pull-right">{{productCode.productName}}</span>
              <br><span class="title-span-custom">Data: </span> <span class="pull-right">{{productCode.createdDate}}</span>
              <br><span class="title-span-custom">Actiune: </span>
              <span>
          <a class="mr-2" type="button" (click)="getMyObject(productCode)">
            <i class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
          <a type="button" (click)="deleteProductCode(productCode)">
            <i class="fa fa-trash fa-lg" style="color: red"></i></a>
          </span>
            </div>
          </div>
        </div>
      </div>
      <!--    END CARD TABLE FOR RESOLUTIONS UNDER 1024-->
    </div>
  </div>
</div>
