<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs-navigation custom-tab-pane" id="sound-cardTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="sound-card-tab" data-toggle="tab" href="#sound-card" role="tab"
                       aria-controls="sound-card" aria-selected="true" (click)="goBack()">Toate produsele</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sound-card-stock-tab" data-toggle="tab" href="#sound-card-stock" role="tab"
                       aria-controls="sound-card-stock" aria-selected="false">Vezi stocuri</a>
                </li>
            </ul>
            <!-- End Nav tabs -->

            <div class="tab-content" id="sound-cardTabContent">

                <!-- First Tab Content -->
                <div class="tab-pane fade show active mx-3" id="sound-card" role="tabpanel"
                     aria-labelledby="sound-card-tab">
                    <div class="card card-custom">
                        <div class="card-header">
                            <h4 class="card-title">Placi de Sunet</h4>
                        </div>
                        <!-- Content -->
                        <div class="card-body">
                            <div>
                                <div class="row align-items-center">
                                    <div class="col-sm-12 col-md-6 mr-auto">
                                        <label class="label-white-space">
                                            Vezi
                                            <select class="custom-select custom-select-sm form-control form-control-sm"
                                                    id="selectPageSize"
                                                    (change)="handlePageSizeChangeSearchAndFilter($event)">
                                                <option>10</option>
                                                <option>50</option>
                                                <option>100</option>
                                            </select>
                                            produse
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        <input #inputSearch (keydown.enter)="getEventSearchResult($event)"
                                               class="form-control form-control-sm"
                                               placeholder="Cautare...">
                                    </div>
                                    <div class="col-auto btn-group-sm" role="group">

                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#modalSoundCard">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-info" (click)="clearSearch()">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-warning"
                                                data-toggle="modal" data-target="#modal_aside_right">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                            </div>
                            <div class="table-responsive">
                                <table id="datatable" class="table table-striped table-bordered table-format"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th scope="col">Actiune</th>
                                        <th scope="col">Cod Produs</th>
                                        <th scope="col">Serial Number</th>
                                        <th scope="col">Nume Produs</th>
                                        <th scope="col">Cantitate</th>
                                        <th scope="col">Unitate de masura</th>
                                        <th scope="col">Producator</th>
                                        <th scope="col">Model</th>
                                        <th scope="col">Pret intrare (Lei)</th>
                                        <th scope="col">Informatii produs</th>
                                        <th scope="col">Stare</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr *ngFor="let soundCard of soundCardList | paginate: {
                                        id: 'sound_card_pagination',
                                        itemsPerPage: pageSizeSoundCard,
                                        currentPage: pageSoundCard,
                                        totalItems: count
                                    }, let i = index;">
                                        <td>
                                            <a type="button" id="{{i}}" class="btn btn-warning btn-link btn-icon btn-sm edit"
                                               (click)="patchForm(soundCard, i)" data-toggle="modal"
                                               data-target="#modalSoundCard">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a type="button" class="btn btn-danger btn-link btn-icon btn-sm remove"
                                               (click)="deleteSoundCard(soundCard)">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                        <td>{{soundCard.generateProductCode.productCode}}</td>
                                        <td>{{soundCard.serialNumber}}</td>
                                        <td>{{soundCard.generateProductCode.productName}}</td>
                                        <td>{{soundCard.quantity}}</td>
                                        <td>{{soundCard.unitOfMeasurement}}</td>
                                        <td>{{soundCard.manufacturer}}</td>
                                        <td>{{soundCard.model}}</td>
                                        <td>{{soundCard.priceIn}}</td>
                                        <td>{{soundCard.productInformation}}</td>
                                        <td>{{soundCard.state}}</td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <nav class="pagination-align-right" aria-label="Page navigation example">
                                <ul class="paginator">
                                    <pagination-controls id="sound_card_pagination" previousLabel="Inapoi" nextLabel="Urmatorul"
                                                         responsive="true" directionLinks="true"
                                                         (pageChange)="handlePageChangeSearchAndFilter($event)"
                                                         (pageBoundsCorrection)="handlePageChangeSearchAndFilter($event)">
                                    </pagination-controls>
                                </ul>
                            </nav>
                        </div>
                        <!-- end content-->
                    </div>
                </div>
                <!-- End First Tab Content -->

                <!--  Table Sound Card by Product Code-->
                <div class="tab-pane fade mx-3" id="sound-card-stock" role="tabpanel"
                     aria-labelledby="sound-card-stock-tab">

                    <!-- Table Sound Card by Stock-->
                    <div *ngIf="isTableProductCodeSelected">
                        <div class="card card-custom">
                            <div class="card-header">
                                <h4 class="card-title">Stock-uri</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 col-md-6 mr-auto">
                                            <label class="label-white-space">
                                                Vezi
                                                <select class="custom-select custom-select-sm form-control form-control-sm"
                                                        id="selectPageSizeForStock"
                                                        (change)="handlePageSizeChangeProductCodesWithStock($event)">
                                                    <option>10</option>
                                                    <option>50</option>
                                                    <option>100</option>
                                                </select>
                                                coduri de produs
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <input #inputSearchStock
                                                   (keydown.enter)="getSearchResultProductCodesWithStock($event)"
                                                   class="form-control form-control-sm"
                                                   placeholder="Cautare...">
                                        </div>

                                        <div class="col-auto">
                                            <button class="btn btn-sm btn-info"
                                                    (click)="clearSearchProductCodesWithStock()">
                                                <i class="fa fa-refresh" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                                </div>
                                <div class="table-responsive">
                                    <table id="datatableStock" class="table table-striped table-bordered table-format"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Cod Produs</th>
                                        <th>Nume produs</th>
                                        <th>Stoc</th>
                                        <th>Pret mediu</th>
                                        <th>Placi de Sunet</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let productCode of productCodesWithStock | paginate: {
                                        id: 'product_codes_with_stock',
                                        itemsPerPage: pageSizeProductCodeWithStock,
                                        currentPage: pageProductCodeWithStock,
                                        totalItems: countProductCodeWithStock
                                    }">
                                        <td>{{productCode.generateProductCode.productCode}}</td>
                                        <td>{{productCode.generateProductCode.productName}}</td>
                                        <td>{{productCode.stock}}</td>
                                        <td>{{productCode.averagePrice | number: '1.2-2'}}</td>
                                        <td>
                                            <button (click)="getSoundCardByProductCode(productCode.generateProductCode.productCode)"
                                                    type="button" class="btn btn-sm btn-info"> Vezi <i
                                                    class="fa fa-external-link" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                                <nav class="pagination-align-right" aria-label="Page navigation example">
                                    <ul class="paginator">
                                        <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" id="product_codes_with_stock"
                                                             (pageChange)="handlePageChangeProductCodesWithStock($event)"
                                                             (pageBoundsCorrection)="handlePageChangeProductCodesWithStock($event)">

                                        </pagination-controls>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end content-->
                        </div>
                    </div>
                    <!-- End Table Sound Card by Stock-->

                    <!-- Table Sound Card by Product Code -->
                    <div *ngIf="!isTableProductCodeSelected">
                        <div class="card card-custom">
                            <div class="card-header">
                                <h4 class="card-title">Placi de Sunet</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 col-md-6 mr-auto">
                                            <label class="label-white-space">
                                                Vezi
                                                <select class="custom-select custom-select-sm form-control form-control-sm"
                                                        id="selectPageSizeByProductCode"
                                                        (change)="handlePageSizeChangeSoundCardByProductCode($event)">
                                                    <option>10</option>
                                                    <option>50</option>
                                                    <option>100</option>
                                                </select>
                                                produse
                                            </label>
                                        </div>
                                        <div class="btn-group-sm col-auto" role="group"
                                             aria-label="add-product-back-to-list">
                                            <button (click)="goBack()" type="button" class="btn btn-warning">Inapoi la
                                                lista
                                            </button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#modalSoundCard">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                                </div>
                                <div class="table-responsive">
                                    <table id="datatableByProductCode"
                                           class="table table-striped table-bordered table-format" width="100%">
                                        <thead>
                                        <tr>
                                            <th scope="col">Actiune</th>
                                            <th scope="col">Cod Produs</th>
                                            <th scope="col">Serial Number</th>
                                            <th scope="col">Nume Produs</th>
                                            <th scope="col">Cantitate</th>
                                            <th scope="col">Unitate de masura</th>
                                            <th scope="col">Producator</th>
                                            <th scope="col">Model</th>
                                            <th scope="col">Pret intrare (Lei)</th>
                                            <th scope="col">Informatii produs</th>
                                            <th scope="col">Stare</th>

                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr *ngFor="let soundCard of soundCardListByProductCode | paginate: {
                                            id: 'sound_card_by_product_code',
                                            itemsPerPage: pageSizeSoundCardByProductCode,
                                            currentPage: pageSoundCardByProductCode,
                                            totalItems: countSoundCardByProductCode
                                        }">
                                            <td>
                                                <a type="button" class="btn btn-warning btn-link btn-icon btn-sm edit"
                                                   (click)="patchForm(soundCard, $event)" data-toggle="modal"
                                                   data-target="#modalSoundCard">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a type="button" class="btn btn-danger btn-link btn-icon btn-sm remove"
                                                   (click)="deleteSoundCard(soundCard)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                            <td>{{soundCard.generateProductCode.productCode}}</td>
                                            <td>{{soundCard.serialNumber}}</td>
                                            <td>{{soundCard.generateProductCode.productName}}</td>
                                            <td>{{soundCard.quantity}}</td>
                                            <td>{{soundCard.unitOfMeasurement}}</td>
                                            <td>{{soundCard.manufacturer}}</td>
                                            <td>{{soundCard.model}}</td>
                                            <td>{{soundCard.priceIn}}</td>
                                            <td>{{soundCard.productInformation}}</td>
                                            <td>{{soundCard.state}}</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <nav class="pagination-align-right" aria-label="Page navigation example">
                                    <ul class="paginator">
                                        <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                                                             id="sound_card_by_product_code"
                                                             (pageChange)="handlePageChangeSoundCardByProductCode($event)"
                                                             (pageBoundsCorrection)="handlePageChangeSoundCardByProductCode($event)"></pagination-controls>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end content-->
                        </div>
                    </div>
                    <!-- End Table Sound Card by Product Code -->

                </div>
                <!--  END Table Sound Card by Product Code-->
            </div>

        </div>
    </div>
</div>




<!-- Modal Add/Edit Sound Card -->
<div class="modal fade" id="modalSoundCard" data-backdrop="static" data-keyboard="false"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="isAddMode" class="modal-title" id="staticBackdropLabel"><i class="fas fa-volume-up fa-lg"></i> Adauga placa de sunet</h5>
                <h5 *ngIf="!isAddMode" class="modal-title" id="editStaticBackdropLabel"><i class="fas fa-volume-up fa-lg"></i> Editare
                    placi de sunet</h5>
                <button (click)="closeModal()" #closeAddEditModal type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col">
                            <label for="generateProductCode"><i class="fa fa-barcode fa-sm"></i> Cod produs</label>
                            <input type="text" class="form-control" id="generateProductCode" #productCode
                                   formControlName="generateProductCode"
                                   [value]="selectedProductCode.productCode">
                        </div>

                        <div class="form-group col-lg-4">
                            <label for="productName"><i class="fa fa-product-hunt fa-sm"></i> Nume produs</label>
                            <ng-select id="productName" (ngModelChange)="setGeneratedProductCode($event)"
                                       formControlName="productName">
                                <ng-option *ngFor="let generatedProductCode of productCodesList"
                                           [value]="generatedProductCode">{{generatedProductCode.productName}}
                                </ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col">
                            <label for="manufacturer"><i class="fa fa-industry fa-sm"></i> Producator</label>
                            <input type="text" class="form-control" id="manufacturer" formControlName="manufacturer">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="serialNumber"><i class="fa fa-barcode fa-sm"></i> Serial number</label>
                            <input type="text" class="form-control" id="serialNumber" formControlName="serialNumber">

                            <div *ngIf="isSerialNumberPresent" class="form-group alert alert-warning">
                                <span>{{errorMessage}}</span>
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="model"><img class="fav-icon-small" src="./assets/img/icons/sound_model.ico"/> Model</label>
                            <input type="text" class="form-control" id="model" formControlName="model">
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="quantity"><i class="fas fa-sort-numeric-up"></i> Cantitate</label>
                            <input type="number" class="form-control" id="quantity" formControlName="quantity" min="0">
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="priceIn"><i class="fa fa-money fa-sm"></i> Pret intrare (Lei)</label>
                            <input type="number" class="form-control" id="priceIn" formControlName="priceIn" min="0">
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-lg-4">
                            <label for="unitOfMeasurement"><img class="fav-icon-small" src="assets/img/icons/measure.ico"/> Unitate</label>
                            <input type="text" class="form-control" id="unitOfMeasurement" formControlName="unitOfMeasurement">
                        </div>

                        <div class="form-group col-lg-4">
                            <label for="state"><img class="fav-icon-small" src="./assets/img/icons/state.ico"/> Stare</label>
                            <select class="form-control" id="state" formControlName="state">
                                <option disabled value="" selected>Selecteaza stare...</option>
                                <option *ngFor="let state of stateList">{{state}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="productInformation"><i class="fa fa-info-circle fa-sm"></i> Informatii produs</label>
                            <input type="text" class="form-control" id="productInformation" formControlName="productInformation">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">
                            Inchide
                        </button>
                        <button id="addSoundCard-btn" *ngIf="isAddMode" type="submit" class="btn btn-primary"
                                data-target="#modalSoundCard"
                                [disabled]="validatingForm.invalid">Adauga
                        </button>
                        <button id="editSoundCard-btn" *ngIf="!isAddMode" type="submit" class="btn btn-success"
                                data-target="#modalSoundCard"
                                [disabled]="validatingForm.invalid">Salveaza modificarile
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal End Add/Edit Sound Card -->

<!-- Modal Filter Right -->
<div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filtreaza placi de sunet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-filter">
                <div id="accordion">

                    <div class="card">
                        <div class="card-header" id="headingManufacturer">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseManufacturer"
                                        aria-expanded="false"
                                        aria-controls="collapseManufacturer">
                                    Producator<span class="arrow"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseManufacturer" class="collapse" aria-labelledby="headingManufacturer"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                                     *ngFor="let manufacturer of manufacturersList">
                                    <input class="form-check-input" type="checkbox" value="{{manufacturer}}" id="{{manufacturer}}"
                                           name="manufacturer">
                                    <label class="form-check-label" for="{{manufacturer}}">
                                        {{manufacturer}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingModel">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseModel"
                                        aria-expanded="false"
                                        aria-controls="collapseModel">
                                    Model<span class="arrow"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseModel" class="collapse" aria-labelledby="headingModel"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                                     *ngFor="let model of modelList">
                                    <input class="form-check-input" type="checkbox" value="{{model}}" id="{{model}}"
                                           name="model">
                                    <label class="form-check-label" for="{{model}}">
                                        {{model}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="headingState">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseState"
                                        aria-expanded="false" aria-controls="collapseState">
                                    Stare<span class="arrow"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseState" class="collapse" aria-labelledby="headingState" data-parent="#accordion">
                            <div class="card-body">
                                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                                     *ngFor="let state of stateList">
                                    <input class="form-check-input" type="checkbox" value="{{state}}" id="{{state}}"
                                           name="state">
                                    <label class="form-check-label" for="{{state}}">
                                        {{state}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="resetFilters()" type="button" class="btn btn-primary">Reseteaza filtre</button>
            </div>
        </div>
    </div> <!-- modal-bialog .// -->
</div>
<!-- End Modal Filter Right -->
