<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs-navigation custom-tab-pane" id="videoCardTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="video-card-tab" data-toggle="tab" href="#vide-card" role="tab"
                       aria-controls="video-card" aria-selected="true" (click)="goBack()">Toate produsele</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="video-card-stock-tab" data-toggle="tab" href="#video-card-stock" role="tab"
                       aria-controls="video-card-stock" aria-selected="false">Vezi stocuri</a>
                </li>
            </ul>
            <!-- End Nav tabs -->

            <div class="tab-content" id="videoCardTabContent">

                <!-- First Tab Content -->
                <div class="tab-pane fade show active mx-3" id="vide-card" role="tabpanel"
                     aria-labelledby="video-card-tab">
                    <div class="card card-custom">
                        <div class="card-header">
                            <h4 class="card-title">Placi Video</h4>
                        </div>
                        <!-- Content -->
                        <div class="card-body">
                            <div>
                                <div class="row align-items-center">
                                    <div class="col-sm-12 col-md-6 mr-auto">
                                        <label class="label-white-space">
                                            Vezi
                                            <select class="custom-select custom-select-sm form-control form-control-sm"
                                                    id="selectPageSize"
                                                    (change)="handlePageSizeChangeSearchAndFilter($event)">
                                                <option>10</option>
                                                <option>50</option>
                                                <option>100</option>
                                            </select>
                                            produse
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        <input #inputSearch (keydown.enter)="getEventSearchResult($event)"
                                               class="form-control form-control-sm"
                                               placeholder="Cautare...">
                                    </div>
                                    <div class="col-auto btn-group-sm" role="group">

                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#modalVideoCard">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-info" (click)="clearSearch()">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-warning"
                                                data-toggle="modal" data-target="#modal_aside_right">
                                            <i class="fa fa-filter" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                            </div>
                            <div class="table-responsive">
                                <table id="datatable" class="table table-striped table-bordered table-format"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th scope="col">Cod Produs</th>
                                        <th scope="col">Serial Number</th>
                                        <th scope="col">Nume Produs</th>
                                        <th scope="col">Cantitate</th>
                                        <th scope="col">Unitate de masura</th>
                                        <th scope="col">Producator</th>
                                        <th scope="col">Model</th>

                                        <th scope="col">Memorie</th>
                                        <th scope="col">Profil</th>
                                        <th scope="col">VGA</th>
                                        <th scope="col">HDMI</th>
                                        <th scope="col">DVI</th>
                                        <th scope="col">DisplayPort</th>
                                        <th scope="col">Nr.porturi VGA</th>
                                        <th scope="col">Nr.porturi HDMI</th>
                                        <th scope="col">Nr.porturi DVI</th>
                                        <th scope="col">Nr.porturi DisplayPort</th>
                                        <th scope="col">Tip memorie</th>
                                        <th scope="col">Nr. de biti</th>
                                        <th scope="col">Serie</th>

                                        <th scope="col">Pret intrare (Lei)</th>
                                        <th scope="col">Informatii produs</th>
                                        <th scope="col">Stare</th>
                                        <th scope="col">Actiune</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr *ngFor="let videoCard of videoCardList | paginate: {
                                        id: 'video_card_pagination',
                                        itemsPerPage: pageSizeVideoCard,
                                        currentPage: pageVideoCard,
                                        totalItems: count
                                    }; let i = index">
                                        <td>{{videoCard.generateProductCode.productCode}}</td>
                                        <td>{{videoCard.serialNumber}}</td>
                                        <td>{{videoCard.generateProductCode.productName}}</td>
                                        <td>{{videoCard.quantity}}</td>
                                        <td>{{videoCard.unitOfMeasurement}}</td>
                                        <td>{{videoCard.manufacturer}}</td>

                                        <td>{{videoCard.model}}</td>
                                        <td>{{videoCard.memory}}</td>
                                        <td>{{videoCard.profile}}</td>
                                        <td>{{videoCard.vga == true ? 'Da' : 'Nu'}}</td>
                                        <td>{{videoCard.numberOfPortsVGA}}</td>
                                        <td>{{videoCard.hdmi == true ? 'Da' : 'Nu'}}</td>
                                        <td>{{videoCard.numberOfPortsHDMI}}</td>
                                        <td>{{videoCard.dvi == true ? 'Da' : 'Nu'}}</td>
                                        <td>{{videoCard.numberOfPortsDVI}}</td>
                                        <td>{{videoCard.displayPort == true ? 'Da' : 'Nu'}}</td>
                                        <td>{{videoCard.numberOfPortsDisplayPort}}</td>
                                        <td>{{videoCard.typeOfMemory}}</td>
                                        <td>{{videoCard.numberOfBits}}</td>
                                        <td>{{videoCard.series}}</td>

                                        <td>{{videoCard.priceIn}}</td>
                                        <td>{{videoCard.productInformation}}</td>
                                        <td>{{videoCard.state}}</td>
                                        <td>
                                            <a id="{{i}}" type="button" class="btn btn-warning btn-link btn-icon btn-sm edit"
                                               (click)="patchForm(videoCard, i)" data-toggle="modal"
                                               data-target="#modalVideoCard">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a type="button" class="btn btn-danger btn-link btn-icon btn-sm remove"
                                               (click)="deleteVideoCard(videoCard)">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <nav class="pagination-align-right" aria-label="Page navigation example">
                                <ul class="paginator">
                                    <pagination-controls id="video_card_pagination" previousLabel="Inapoi" nextLabel="Urmatorul"
                                                         responsive="true" directionLinks="true"
                                                         (pageChange)="handlePageChangeSearchAndFilter($event)"
                                                         (pageBoundsCorrection)="handlePageChangeSearchAndFilter($event)">
                                    </pagination-controls>
                                </ul>
                            </nav>
                        </div>
                        <!-- end content-->
                    </div>
                </div>
                <!-- End First Tab Content -->

                <!--  Table Video Card by Product Code-->
                <div class="tab-pane fade mx-3" id="video-card-stock" role="tabpanel"
                     aria-labelledby="video-card-stock-tab">

                    <!-- Table Video Card by Stock-->
                    <div *ngIf="isTableProductCodeSelected">
                        <div class="card card-custom">
                            <div class="card-header">
                                <h4 class="card-title">Stock-uri</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 col-md-6 mr-auto">
                                            <label class="label-white-space">
                                                Vezi
                                                <select class="custom-select custom-select-sm form-control form-control-sm"
                                                        id="selectPageSizeForStock"
                                                        (change)="handlePageSizeChangeProductCodesWithStock($event)">
                                                    <option>10</option>
                                                    <option>50</option>
                                                    <option>100</option>
                                                </select>
                                                coduri de produs
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <input #inputSearchStock
                                                   (keydown.enter)="getSearchResultProductCodesWithStock($event)"
                                                   class="form-control form-control-sm"
                                                   placeholder="Cautare...">
                                        </div>

                                        <div class="col-auto">
                                            <button class="btn btn-sm btn-info"
                                                    (click)="clearSearchProductCodesWithStock()">
                                                <i class="fa fa-refresh" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                                </div>
                                <div class="table-responsive">
                                    <table id="datatableStock" class="table table-striped table-bordered table-format"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Cod Produs</th>
                                        <th>Nume produs</th>
                                        <th>Stoc</th>
                                        <th>Pret mediu</th>
                                        <th>Placi Video</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let productCode of productCodesWithStock | paginate: {
                                        id: 'product_codes_with_stock',
                                        itemsPerPage: pageSizeProductCodeWithStock,
                                        currentPage: pageProductCodeWithStock,
                                        totalItems: countProductCodeWithStock
                                    }">
                                        <td>{{productCode.generateProductCode.productCode}}</td>
                                        <td>{{productCode.generateProductCode.productName}}</td>
                                        <td>{{productCode.stock}}</td>
                                        <td>{{productCode.averagePrice | number: '1.2-2'}}</td>
                                        <td>
                                            <button (click)="getVideoCardByProductCode(productCode.generateProductCode.productCode)"
                                                    type="button" class="btn btn-sm btn-info"> Vezi <i
                                                    class="fa fa-external-link" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                                <nav class="pagination-align-right" aria-label="Page navigation example">
                                    <ul class="paginator">
                                        <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" id="product_codes_with_stock"
                                                             (pageChange)="handlePageChangeProductCodesWithStock($event)"
                                                             (pageBoundsCorrection)="handlePageChangeProductCodesWithStock($event)">

                                        </pagination-controls>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end content-->
                        </div>
                    </div>
                    <!-- End Table Video Card by Stock-->

                    <!-- Table Video Card by Product Code -->
                    <div *ngIf="!isTableProductCodeSelected">
                        <div class="card card-custom">
                            <div class="card-header">
                                <h4 class="card-title">Unitati de Stocare</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 col-md-6 mr-auto">
                                            <label class="label-white-space">
                                                Vezi
                                                <select class="custom-select custom-select-sm form-control form-control-sm"
                                                        id="selectPageSizeByProductCode"
                                                        (change)="handlePageSizeChangeVideoCardByProductCode($event)">
                                                    <option>10</option>
                                                    <option>50</option>
                                                    <option>100</option>
                                                </select>
                                                produse
                                            </label>
                                        </div>
                                        <div class="btn-group-sm col-auto" role="group"
                                             aria-label="add-product-back-to-list">
                                            <button (click)="goBack()" type="button" class="btn btn-warning">Inapoi la
                                                lista
                                            </button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#modalVideoCard">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                                </div>
                                <div class="table-responsive">
                                    <table id="datatableByProductCode"
                                           class="table table-striped table-bordered table-format" width="100%">
                                        <thead>
                                        <tr>
                                            <th scope="col">Cod Produs</th>
                                            <th scope="col">Serial Number</th>
                                            <th scope="col">Nume Produs</th>
                                            <th scope="col">Cantitate</th>
                                            <th scope="col">Unitate de masura</th>
                                            <th scope="col">Producator</th>
                                            <th scope="col">Model</th>

                                            <th scope="col">Memorie</th>
                                            <th scope="col">Profil</th>
                                            <th scope="col">VGA</th>
                                            <th scope="col">HDMI</th>
                                            <th scope="col">DVI</th>
                                            <th scope="col">DisplayPort</th>
                                            <th scope="col">Nr.porturi VGA</th>
                                            <th scope="col">Nr.porturi HDMI</th>
                                            <th scope="col">Nr.porturi DVI</th>
                                            <th scope="col">Nr.porturi DisplayPort</th>
                                            <th scope="col">Tip memorie</th>
                                            <th scope="col">Nr. de biti</th>
                                            <th scope="col">Serie</th>

                                            <th scope="col">Pret intrare (Lei)</th>
                                            <th scope="col">Informatii produs</th>
                                            <th scope="col">Stare</th>
                                            <th scope="col">Actiune</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr *ngFor="let videoCard of videoCardListByProductCode | paginate: {
                                            id: 'video_card_by_product_code',
                                            itemsPerPage: pageSizeVideoCardByProductCode,
                                            currentPage: pageVideoCardByProductCode,
                                            totalItems: countVideoCardByProductCode
                                        }">
                                            <td>{{videoCard.generateProductCode.productCode}}</td>
                                            <td>{{videoCard.serialNumber}}</td>
                                            <td>{{videoCard.generateProductCode.productName}}</td>
                                            <td>{{videoCard.quantity}}</td>
                                            <td>{{videoCard.unitOfMeasurement}}</td>
                                            <td>{{videoCard.manufacturer}}</td>

                                            <td>{{videoCard.model}}</td>
                                            <td>{{videoCard.memory}}</td>
                                            <td>{{videoCard.profile}}</td>
                                            <td>{{videoCard.vga == true ? 'Da' : 'Nu'}}</td>
                                            <td>{{videoCard.numberOfPortsVGA}}</td>
                                            <td>{{videoCard.hdmi == true ? 'Da' : 'Nu'}}</td>
                                            <td>{{videoCard.numberOfPortsHDMI}}</td>
                                            <td>{{videoCard.dvi == true ? 'Da' : 'Nu'}}</td>
                                            <td>{{videoCard.numberOfPortsDVI}}</td>
                                            <td>{{videoCard.displayPort == true ? 'Da' : 'Nu'}}</td>
                                            <td>{{videoCard.numberOfPortsDisplayPort}}</td>
                                            <td>{{videoCard.typeOfMemory}}</td>
                                            <td>{{videoCard.numberOfBits}}</td>
                                            <td>{{videoCard.series}}</td>

                                            <td>{{videoCard.priceIn}}</td>
                                            <td>{{videoCard.productInformation}}</td>
                                            <td>{{videoCard.state}}</td>
                                            <td>
                                                <a type="button" class="btn btn-warning btn-link btn-icon btn-sm edit"
                                                   (click)="patchForm(videoCard, $event)" data-toggle="modal"
                                                   data-target="#modalVideoCard">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a type="button" class="btn btn-danger btn-link btn-icon btn-sm remove"
                                                   (click)="deleteVideoCard(videoCard)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <nav class="pagination-align-right" aria-label="Page navigation example">
                                    <ul class="paginator">
                                        <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                                                             id="video_card_by_product_code"
                                                             (pageChange)="handlePageChangeVideoCardByProductCode($event)"
                                                             (pageBoundsCorrection)="handlePageChangeVideoCardByProductCode($event)"></pagination-controls>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end content-->
                        </div>
                    </div>
                    <!-- End Table Video Card by Product Code -->

                </div>
                <!--  END Table Video Card by Product Code-->
            </div>

        </div>
    </div>
</div>


<!-- Modal Add/Edit Video Card -->
<div class="modal fade" id="modalVideoCard" data-backdrop="static" data-keyboard="false"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="isAddMode" class="modal-title" id="staticBackdropLabel">
                    <img class="fav-icon" src="./assets/img/icons/video-card.ico">
                    Adauga placa video</h5>
                <h5 *ngIf="!isAddMode" class="modal-title" id="editStaticBackdropLabel">
                    <img class="fav-icon" src="./assets/img/icons/video-card.ico">
                    Editare
                    placa video</h5>
                <button (click)="closeModal()" type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col">
                            <label for="generateProductCode"><i class="fa fa-barcode fa-sm"></i> Cod produs</label>
                            <input type="text" class="form-control" id="generateProductCode" formControlName="generateProductCode"
                                   [value]="selectedProductCode.productCode">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="productName"><i class="fa fa-product-hunt fa-sm"></i> Nume produs</label>
                            <ng-select id="productName" (ngModelChange)="setGeneratedProductCode($event)"
                                       formControlName="productName">
                                <ng-option *ngFor="let generatedProductCode of productCodesList"
                                           [value]="generatedProductCode">{{generatedProductCode.productName}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col">
                            <label for="manufacturer"><i class="fa fa-industry fa-sm"></i> Producator</label>
                            <input type="text" class="form-control" id="manufacturer" formControlName="manufacturer">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="serialNumber"><i class="fa fa-barcode fa-sm"></i> Serial number</label>
                            <input type="text" class="form-control" id="serialNumber" formControlName="serialNumber">
                            <div *ngIf="isSerialNumberPresent" class="form-group alert alert-warning">
                                <span>{{errorMessage}}</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="model"><img class="fav-icon-small" src="./assets/img/icons/video-card.ico"> Model</label>
                            <input type="text" class="form-control" id="model" formControlName="model">
                        </div>
                        <div class="form-group col">
                            <label for="profile"><img class="fav-icon-small" src="./assets/img/icons/video_card_profile.ico"> Profil</label>
                            <input type="text" class="form-control" id="profile" formControlName="profile">
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-lg-4">
                            <label for="quantity"><i class="fa fa-sort-numeric-up"></i> Cantitate</label>
                            <input type="number" min="0" class="form-control" id="quantity" formControlName="quantity">
                        </div>

                        <div class="form-group col-lg-4">
                            <label for="unitOfMeasurement"><img class="fav-icon-small" src="assets/img/icons/measure.ico"/> Unitate</label>
                            <input type="text" class="form-control" id="unitOfMeasurement" formControlName="unitOfMeasurement">
                        </div>

                        <div class="form-group col-lg-4">
                            <label for="priceIn"><i class="fa fa-money fa-sm"></i> Pret intrare (Lei)</label>
                            <input type="number" class="form-control" id="priceIn" formControlName="priceIn" min="0">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label for="state"><img class="fav-icon-small" src="./assets/img/icons/state.ico"> Stare</label>
                            <select class="form-control" id="state" formControlName="state">
                                <option disabled value="" selected>Selecteaza stare...</option>
                                <option *ngFor="let state of stateList">{{state}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-8">
                            <label for="productInformation"><i class="fa fa-info-circle fa-sm"></i> Informatii produs</label>
                            <input type="text" class="form-control" id="productInformation" formControlName="productInformation">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="vga"><img class="fav-icon-small" src="./assets/img/icons/vga.ico"> VGA</label>
                            <select class="form-control" id="vga" formControlName="vga" (change)="getSelectedPort($event)">
                                <option value="true">Da</option>
                                <option value="false">Nu</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="numberOfPortsVGA"><img class="fav-icon-number-of" src="./assets/img/icons/number_of.ico"> Nr. porturi VGA</label>
                            <input type="number" class="form-control" id="numberOfPortsVGA" formControlName="numberOfPortsVGA" min="0">
                        </div>
                        <div class="form-group col">
                            <label for="hdmi"><img class="fav-icon-small" src="./assets/img/icons/hdmi.ico"> HDMI</label>
                            <select class="form-control" id="hdmi" formControlName="hdmi" (change)="getSelectedPort($event)">
                                <option value="true">Da</option>
                                <option value="false">Nu</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="numberOfPortsHDMI"><img class="fav-icon-number-of" src="./assets/img/icons/number_of.ico"> Nr. porturi HDMI</label>
                            <input type="number" class="form-control" id="numberOfPortsHDMI" formControlName="numberOfPortsHDMI" min="0">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="dvi"><img class="fav-icon-small" src="./assets/img/icons/dvi.ico"> DVI</label>
                            <select class="form-control" id="dvi" formControlName="dvi" (change)="getSelectedPort($event)">
                                <option value="true">Da</option>
                                <option value="false">Nu</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="numberOfPortsDVI"><img class="fav-icon-number-of" src="./assets/img/icons/number_of.ico"> Nr. porturi DVI</label>
                            <input type="number" class="form-control" id="numberOfPortsDVI" formControlName="numberOfPortsDVI" min="0">
                        </div>
                        <div class="form-group col">
                            <label for="displayPort"><img class="fav-icon-small" src="./assets/img/icons/displayport.ico"> DisplayPort</label>
                            <select class="form-control" id="displayPort" formControlName="displayPort" (change)="getSelectedPort($event)">
                                <option value="true">Da</option>
                                <option value="false">Nu</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="numberOfPortsDisplayPort"><img class="fav-icon-number-of" src="./assets/img/icons/number_of.ico"> Nr. porturi DP</label>
                            <input type="number" class="form-control" id="numberOfPortsDisplayPort" formControlName="numberOfPortsDisplayPort" min="0">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="memory"><img class="fav-icon-small" src="./assets/img/icons/video_memory.ico"> Memorie</label>
                            <input type="number" class="form-control" id="memory" formControlName="memory" min="0">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="typeOfMemory"><i class="fas fa-question fa-sm"></i> Tip memorie</label>
                            <input type="text" class="form-control" id="typeOfMemory" formControlName="typeOfMemory">
                        </div>
                        <div class="form-group col">
                            <label for="numberOfBits"><img class="fav-icon-small" src="./assets/img/icons/bits.ico"> Nr. de biti</label>
                            <input type="number" class="form-control" id="numberOfBits" formControlName="numberOfBits" min="0">
                        </div>
                        <div class="form-group col">
                            <label for="series"><img class="fav-icon-small" src="./assets/img/icons/series.ico"> Serie</label>
                            <input type="text" class="form-control" id="series" formControlName="series">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">
                            Inchide
                        </button>
                        <button id="addVideoCard-btn" *ngIf="isAddMode" type="submit" class="btn btn-primary"
                                data-target="#modalVideoCard"
                                [disabled]="validatingForm.invalid">Adauga
                        </button>
                        <button id="editVideoCard-btn" *ngIf="!isAddMode" type="submit" class="btn btn-success"
                                data-target="#modalVideoCard"
                                [disabled]="validatingForm.invalid">Salveaza modificarile
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal End Add/Edit Video Card -->

<!-- Modal Filter Right -->
<div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filtreaza placi video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-filter">
                <div id="accordion">

                    <div class="card">
                        <div class="card-header" id="headingManufacturer">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseManufacturer"
                                        aria-expanded="false"
                                        aria-controls="collapseManufacturer">Producator<span class="arrow"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseManufacturer" class="collapse" aria-labelledby="headingManufacturer"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                                     *ngFor="let manufacturer of manufacturerList">
                                    <input class="form-check-input" type="checkbox" value="{{manufacturer}}" id="{{manufacturer}}"
                                           name="manufacturer">
                                    <label class="form-check-label" for="{{manufacturer}}">
                                        {{manufacturer}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingModel">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseModel"
                                        aria-expanded="false"
                                        aria-controls="collapseModel">Model<span class="arrow"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseModel" class="collapse" aria-labelledby="headingModel"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                                     *ngFor="let model of modelList">
                                    <input class="form-check-input" type="checkbox" value="{{model}}" id="{{model}}"
                                           name="model">
                                    <label class="form-check-label" for="{{model}}">
                                        {{model}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingMemory">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMemory"
                                        aria-expanded="false"
                                        aria-controls="collapseMemory">
                                    Memorie<span class="arrow"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseMemory" class="collapse" aria-labelledby="headingMemory"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                                     *ngFor="let memory of memoryList">
                                    <input class="form-check-input" type="checkbox" value="{{memory}}" id="{{memory}}"
                                           name="memory">
                                    <label class="form-check-label" for="{{memory}}">
                                        {{memory}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingProfile">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseProfile"
                                        aria-expanded="false"
                                        aria-controls="collapseProfile">Profil<span class="arrow"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseProfile" class="collapse" aria-labelledby="headingProfile"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                                     *ngFor="let profile of profileList">
                                    <input class="form-check-input" type="checkbox" value="{{profile}}" id="{{profile}}"
                                           name="profile">
                                    <label class="form-check-label" for="{{profile}}">
                                        {{profile}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTypeOfMemory">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTypeOfMemory"
                                        aria-expanded="false"
                                        aria-controls="collapseTypeOfMemory">Tip memorie<span class="arrow"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTypeOfMemory" class="collapse" aria-labelledby="headingTypeOfMemory"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                                     *ngFor="let typeOfMemory of typeOfMemoryList">
                                    <input class="form-check-input" type="checkbox" value="{{typeOfMemory}}" id="{{typeOfMemory}}"
                                           name="typeOfMemory">
                                    <label class="form-check-label" for="{{typeOfMemory}}">
                                        {{typeOfMemory}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingNumberOfBits">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNumberOfBits"
                                        aria-expanded="false" aria-controls="collapseNumberOfBits">Nr. bits<span class="arrow"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseNumberOfBits" class="collapse" aria-labelledby="headingNumberOfBits" data-parent="#accordion">
                            <div class="card-body">
                                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                                     *ngFor="let numberOfBits of numberOfBitsList">
                                    <input class="form-check-input" type="checkbox" value="{{numberOfBits}}" id="{{numberOfBits}}"
                                           name="numberOfBits">
                                    <label class="form-check-label" for="{{numberOfBits}}">
                                        {{numberOfBits}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSeries">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeries"
                                        aria-expanded="false" aria-controls="collapseSeries">Serie<span class="arrow"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeries" class="collapse" aria-labelledby="headingSeries" data-parent="#accordion">
                            <div class="card-body">
                                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                                     *ngFor="let series of seriesList">
                                    <input class="form-check-input" type="checkbox" value="{{series}}" id="{{series}}"
                                           name="series">
                                    <label class="form-check-label" for="{{series}}">
                                        {{series}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingState">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseState"
                                        aria-expanded="false" aria-controls="collapseState">Stare<span class="arrow"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseState" class="collapse" aria-labelledby="headingState" data-parent="#accordion">
                            <div class="card-body">
                                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                                     *ngFor="let state of stateListFilter">
                                    <input class="form-check-input" type="checkbox" value="{{state}}" id="{{state}}"
                                           name="state">
                                    <label class="form-check-label" for="{{state}}">
                                        {{state}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="resetFilters()" type="button" class="btn btn-primary">Reseteaza filtre</button>
            </div>
        </div>
    </div> <!-- modal-bialog .// -->
</div>
<!-- End Modal Filter Right -->
