<div class="main-content">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-globe text-warning"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Componente adaugate</p>
                                <p class="card-title">{{componentsAdded}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="row stats">
                        <div class="col-md-6">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <select (change)="show($event)" class="date-range-selection" title="Single Select">
                                <option value="today" selected>Astazi</option>
                                <option value="currentWeek">Saptamana curenta</option>
                                <option value="currentMonth">Luna curenta</option>
                                <option value="pastMonth">Luna trecuta</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-3">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-money-coins text-success"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-9">
                            <div class="numbers">
                                <p class="card-category">Componente Nereceptionate</p>
                                <p class="card-title"><span>{{numberOfUnreceived}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-calendar-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-vector text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Useri online</p>
                                <p class="card-title">{{numberOfActiveUsers}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> In ultimele 15 min
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
