/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
body {
  background: #f7f7f7;
}
//************************************Sweet Alert**********************//

.swal-modal{
  width: 18%;
  background-color: #f7f7f7;
}

.swal-icon {
  width: 46px;
  height: 46px;
}

.swal-icon--warning__body{
  height: 23.5px;
  top: 6px;
}
.swal-icon--warning__dot{
  margin-left: -3px;
}

.swal-text {

  font-weight: 500;
  font-size: 18px;

}

//************************************END Sweet Alert**********************//
/********************** Fav-Icons-Custom **********************************/
.fav-icon {
  width: 36px;
}
.fav-icon-small {
  width: 20px;
}
.fav-icon-number-of{
  width: 12px;
}
/********************** End Fav-Icons-Custom **********************************/
