/********************** Fav-Icons-Custom **********************************/

.fav-icon {
    width: 36px;
}

.fav-icon-small {
    width: 20px;
}

.fav-icon-number-of {
    width: 12px;
}

/********************** End Fav-Icons-Custom **********************************/
