<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 class="h4"><img class="fav-icon" src="./assets/icons/cpu_cooler.ico"/> Coolere CPU</h1>
      </div>

      <ul class="nav nav-tabs" id="cpuCoolerTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="cpu-cooler-tab" data-toggle="tab" href="#cpu-cooler" role="tab"
             aria-controls="cpu-cooler" aria-selected="true" (click)="goBack()">Toate produsele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="cpu-cooler-stock-tab" data-toggle="tab" href="#cpu-cooler-stock" role="tab"
             aria-controls="cpu-cooler-stock" aria-selected="false">Vezi stocuri</a>
        </li>
      </ul>

      <div class="tab-content" id="cpuCoolerTabContent">

        <!-- Tab Table Cpu Cooler -->
        <div class="tab-pane fade show active mx-3" id="cpu-cooler" role="tabpanel" aria-labelledby="cpu-cooler-tab">
          <nav aria-label="Page navigation example">
            <div class="row py-3">
              <div class="col-auto mr-auto">
                <div class="form-control-custom pull-left">
                  <span class="pagination-info">Vezi </span>
                  <select class="btn-secondary" id="selectPageSize"
                          (change)="handlePageSizeChangeSearchAndFilter($event)">
                    <option>10</option>
                    <option>50</option>
                    <option>100</option>
                  </select>
                  <span class="pagination-info"> produse</span>
                </div>
              </div>
              <div class="col-auto">
                <input #inputSearch (keydown.enter)="getEventSearchResult($event)" class="search form-control"
                       placeholder="Cautare...">
              </div>
              <div class="btn-group col-auto" role="group" aria-label="filter-refresh-search">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modalCpuCooler">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-info" (click)="clearSearch()">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-warning"
                        data-toggle="modal" data-target="#modal_aside_right">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </nav>

          <table class="table table-sm table-striped table-hover shadow-sm motherboard-table-custom">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Cod Produs</th>
              <th scope="col">Serial Number</th>
              <th scope="col">Nume Produs</th>
              <th scope="col">Producator</th>
              <th scope="col">Socket</th>
              <th scope="col">Pret intrare (Lei)</th>
              <th scope="col">Informatii produs</th>
              <th scope="col">Stare</th>
              <th scope="col">Actiune</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cpuCooler of cpuCoolerList | paginate: {
        id: 'cpu_cooler_pagination',
        itemsPerPage: pageSizeCpuCooler,
        currentPage: pageCpuCooler,
        totalItems: count
  }">
              <td>{{cpuCooler.generateProductCodeCpuCooler.productCode}}</td>
              <td>{{cpuCooler.serialNumber}}</td>
              <td>{{cpuCooler.generateProductCodeCpuCooler.productName}}</td>
              <td>{{cpuCooler.manufacturer}}</td>
              <td>{{cpuCooler.socket}}</td>
              <td>{{cpuCooler.priceIn}}</td>
              <td>{{cpuCooler.productInformation}}</td>
              <td>{{cpuCooler.state}}</td>
              <td>
                <a class="mr-2" type="button" (click)="patchForm(cpuCooler)" data-toggle="modal"
                   data-target="#modalCpuCooler"><i
                  class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
                <a type="button" (click)="deleteCpuCooler(cpuCooler)"><i class="fa fa-trash fa-lg"
                                                                     style="color: red"></i></a>
              </td>
            </tr>
            </tbody>
          </table>

          <!--    CARD TABLE FOR RESOLUTIONS UNDER 1024-->
          <div class="row row-cols-1 row-cols-lg-2" id="card-component">
            <div *ngFor="let cpuCooler of cpuCoolerList | paginate: {
    id: 'cpu_cooler_pagination',
    itemsPerPage: pageSizeCpuCooler,
    currentPage: pageCpuCooler,
    totalItems: count
    }" class="col mb-4">
              <div class="card border-secondary mb-3 h-100">
                <div class="card-header text-center"><span class="h6">Cod Produs: </span>{{cpuCooler.generateProductCodeCpuCooler.productCode}}</div>
                <div class="card-body text-card-custom">
                  <span class="title-span-custom">Serial Number: </span> <span
                  class="pull-right">{{cpuCooler.serialNumber}}</span>
                  <br><span class="title-span-custom">Nume Produs: </span> <span
                  class="pull-right">{{cpuCooler.generateProductCodeCpuCooler.productName}}</span>
                  <br><span class="title-span-custom">Producator: </span> <span
                  class="pull-right">{{cpuCooler.manufacturer}}</span>
                  <br><span class="title-span-custom">Socket: </span> <span
                  class="pull-right">{{cpuCooler.socket}}</span>
                  <br><span class="title-span-custom">Pret intrare: </span> <span
                  class="pull-right">{{cpuCooler.priceIn}}</span>
                  <br><span class="title-span-custom">Informatii produs: </span> <span
                  class="pull-right">{{cpuCooler.productInformation}}</span>
                  <br><span class="title-span-custom">Stare: </span> <span class="pull-right">{{cpuCooler.state}}</span>
                  <br><span class="title-span-custom">Actiune: </span>
                  <span class="pull-right">
            <a class="mr-2" type="button" (click)="patchForm(cpuCooler)" data-toggle="modal"
               data-target="#modalCpuCooler"><i
              class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
            <a type="button" (click)="deleteCpuCooler(cpuCooler)"><i class="fa fa-trash fa-lg"
                                                                 style="color: red"></i></a>
            </span>
                </div>
              </div>
            </div>
          </div>
          <!--    END CARD TABLE FOR RESOLUTIONS UNDER 1024-->

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <pagination-controls id="cpu_cooler_pagination" previousLabel="Inapoi" nextLabel="Urmatorul"
                                   responsive="true" directionLinks="true"
                                   (pageChange)="handlePageChangeSearchAndFilter($event)"
                                   (pageBoundsCorrection)="handlePageChangeSearchAndFilter($event)">
              </pagination-controls>
            </ul>
          </nav>

        </div>
        <!-- End Tab Table Cpu Cooler -->

        <!-- Table Cpu Cooler by Product Code -->
        <div class="tab-pane fade mx-3" id="cpu-cooler-stock" role="tabpanel" aria-labelledby="cpu-cooler-stock-tab">

          <!-- Table Stock Cpu Cooler -->
          <div *ngIf="isTableProductCodeSelected">
            <nav aria-label="Page navigation stock table">
              <div class="row py-3">
                <div class="col-auto mr-auto">
                  <div class="form-control-custom pull left">
                    <span class="pagination-info">Vezi </span>
                    <select class="btn-secondary" id="selectPageSizeForStock" (change)="handlePageSizeChangeProductCodesWithStock($event)">
                      <option>10</option>
                      <option>50</option>
                      <option>100</option>
                    </select>
                    <span class="pagination-info"> coduri de produs</span>
                  </div>
                </div>
                <div class="col-auto my-auto-2">
                  <input #inputSearchStock (keydown.enter)="getSearchResultProductCodesWithStock($event)"
                         class="search form-control"
                         placeholder="Cautare...">
                </div>
                <div class="col-auto">
                  <button class="btn btn-info" (click)="clearSearchProductCodesWithStock()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </nav>
            <table class="table table-striped table-hover shadow-sm table-power-source">
              <thead class="thead-dark">
              <tr>
                <th>Cod Produs</th>
                <th>Nume produs</th>
                <th>Stoc</th>
                <th>Pret mediu</th>
                <th>Coolere carcase</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let productCode of productCodesWithStock | paginate: {
id: 'product_codes_with_stock',
itemsPerPage: pageSizeProductCodeWithStock,
currentPage: pageProductCodeWithStock,
totalItems: countProductCodeWithStock
}">
                <td>{{productCode.generateProductCodeCpuCooler.productCode}}</td>
                <td>{{productCode.generateProductCodeCpuCooler.productName}}</td>
                <td>{{productCode.stock}}</td>
                <td>{{productCode.averagePrice | number: '1.2-2'}}</td>
                <td>
                  <button (click)="getCpuCoolerByProductCode(productCode.generateProductCodeCpuCooler.productCode)" type="button" class="btn btn-info">
                    Vezi <i class="fa fa-external-link" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

            <!--    CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <div class="row row-cols-1 row-cols-lg-2" id="card-component-by-stock">
              <div *ngFor="let productCode of productCodesWithStock | paginate: {
                        id: 'product_codes_with_stock',
                        itemsPerPage: pageSizeProductCodeWithStock,
                        currentPage: pageProductCodeWithStock,
                        totalItems: countProductCodeWithStock
                        }" class="col mb-4">
                <div class="card border-secondary mb-3 h-100" >
                  <div class="card-header text-center"><span class="h6">Cod Produs: </span>{{productCode.generateProductCodeCpuCooler.productCode}}</div>
                  <div class="card-body text-card-custom">
                    <br><span class="title-span-custom">Nume Produs: </span> <span class="pull-right">{{productCode.generateProductCodeCpuCooler.productName}}</span>
                    <br><span class="title-span-custom">Stock: </span> <span class="pull-right">{{productCode.stock}}</span>
                    <br><span class="title-span-custom">Pret mediu: </span> <span class="pull-right">{{productCode.averagePrice | number: '1.2-2'}}</span>
                    <br><span class="title-span-custom">Carcase: </span>
                    <button (click)="getCpuCoolerByProductCode(productCode.generateProductCodeCpuCooler.productCode)" type="button"
                            class="btn btn-info pull-right">
                      Vezi <i class="fa fa-external-link" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--    END CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" id="product_codes_with_stock"
                                     (pageChange)="handlePageChangeProductCodesWithStock($event)"
                                     (pageBoundsCorrection)="handlePageChangeProductCodesWithStock($event)"></pagination-controls>
              </ul>
            </nav>
          </div>
          <!-- End Table Stock Cpu Cooler -->

          <!-- Table Cpu Cooler by Product Code -->
          <div *ngIf="!isTableProductCodeSelected">
            <nav aria-label="Page navigation example">
              <div class="row py-3">
                <div class="col-auto mr-auto">
                  <div class="form-control-custom pull-left">
                    <span class="pagination-info">Vezi </span>
                    <select class="btn-secondary" id="selectPageSizeByProductCode"
                            (change)="handlePageSizeChangeCpuCoolerByProductCode($event)">
                      <option>10</option>
                      <option>50</option>
                      <option>100</option>
                    </select>
                    <span class="pagination-info"> produse</span>
                  </div>
                </div>
                <div class="btn-group col-auto" role="group" aria-label="add-product-back-to-list">
                  <button (click)="goBack()" type="button" class="btn btn-warning" >Inapoi la lista</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                          data-target="#modalCpuCooler">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </nav>
            <table class="table table-sm table-striped table-hover shadow-sm motherboard-table-custom">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Cod Produs</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Nume Produs</th>
                <th scope="col">Producator</th>
                <th scope="col">Stock</th>
                <th scope="col">Pret intrare (Lei)</th>
                <th scope="col">Informatii produs</th>
                <th scope="col">Stare</th>
                <th scope="col">Actiune</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let cpuCooler of cpuCoolerListByProductCode | paginate: {
        id: 'cpu_cooler_by_product_code',
itemsPerPage: pageSizeCpuCoolerByProductCode,
currentPage: pageCpuCoolerByProductCode,
totalItems: countCpuCoolerByProductCode
}">
                <td>{{cpuCooler.generateProductCodeCpuCooler.productCode}}</td>
                <td>{{cpuCooler.serialNumber}}</td>
                <td>{{cpuCooler.generateProductCodeCpuCooler.productName}}</td>
                <td>{{cpuCooler.manufacturer}}</td>
                <td>{{cpuCooler.stock}}</td>
                <td>{{cpuCooler.priceIn}}</td>
                <td>{{cpuCooler.productInformation}}</td>
                <td>{{cpuCooler.state}}</td>
                <td>
                  <a class="mr-2" type="button" (click)="patchForm(cpuCooler)" data-toggle="modal" data-target="#modalCpuCooler"><i
                    class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
                  <a type="button" (click)="deleteCpuCooler(cpuCooler)"><i class="fa fa-trash fa-lg"
                                                                       style="color: red"></i></a>
                </td>
              </tr>
              </tbody>
            </table>

            <!--    CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <div class="row row-cols-1 row-cols-lg-2" id="card-component-by-product-code">
              <div *ngFor="let cpuCooler of cpuCoolerListByProductCode | paginate: {
                        id: 'cpu_cooler_by_product_code',
                        itemsPerPage: pageSizeCpuCoolerByProductCode,
                        currentPage: pageCpuCoolerByProductCode,
                        totalItems: countCpuCoolerByProductCode
                        }" class="col mb-4">
                <div class="card border-secondary mb-3 h-100">
                  <div class="card-header text-center"><span class="h6">Cod Produs: </span>{{cpuCooler.generateProductCodeCpuCooler.productCode}}</div>
                  <div class="card-body text-card-custom">
                    <span class="title-span-custom">Serial Number: </span> <span class="pull-right">{{cpuCooler.serialNumber}}</span>
                    <br><span class="title-span-custom">Nume Produs: </span> <span class="pull-right">{{cpuCooler.generateProductCodeCpuCooler.productName}}</span>
                    <br><span class="title-span-custom">Producator: </span> <span class="pull-right">{{cpuCooler.manufacturer}}</span>
                    <br><span class="title-span-custom">Stock: </span> <span class="pull-right">{{cpuCooler.stock}}</span>
                    <br><span class="title-span-custom">Pret intrare: </span> <span class="pull-right">{{cpuCooler.priceIn}}</span>
                    <br><span class="title-span-custom">Informatii produs: </span> <span class="pull-right">{{cpuCooler.productInformation}}</span>
                    <br><span class="title-span-custom">Stare: </span> <span class="pull-right">{{cpuCooler.state}}</span>
                    <br><span class="title-span-custom">Actiune: </span>
                    <span class="pull-right">
            <a class="mr-2" type="button" (click)="patchForm(cpuCooler)" data-toggle="modal" data-target="#modalCpuCooler"><i
              class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
            <a type="button" (click)="deleteCpuCooler(cpuCooler)"><i class="fa fa-trash fa-lg" style="color: red"></i></a>
            </span>
                  </div>
                </div>
              </div>
            </div>
            <!--    END CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" id="cpu_cooler_by_product_code"
                                     (pageChange)="handlePageChangeCpuCoolerByProductCode($event)"
                                     (pageBoundsCorrection)="handlePageChangeCpuCoolerByProductCode($event)"></pagination-controls>
              </ul>
            </nav>
          </div>
          <!-- End Table All Cpu Cooler by Product Code -->
        </div>
        <!-- End Table Cpu Cooler by Product Code -->

      </div>

    </div>
  </div>
</div>


<!-- Modal Add/Edit Cpu Cooler -->
<div class="modal fade" id="modalCpuCooler" data-backdrop="static" data-keyboard="false"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="isAddMode" class="modal-title" id="staticBackdropLabel"><img class="fav-icon-small" src="./assets/icons/cpu_cooler.ico"/> Adauga cooler CPU</h5>
        <h5 *ngIf="!isAddMode" class="modal-title" id="editStaticBackdropLabel"><img class="fav-icon-small" src="./assets/icons/cpu_cooler.ico"/> Editare
          cooler CPU</h5>
        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col">
              <label for="generateProductCodeCpuCooler"><i class="fa fa-barcode fa-sm"></i> Cod produs</label>
              <input type="text" class="form-control" id="generateProductCodeCpuCooler" formControlName="generateProductCodeCpuCooler"
                     [value]="selectedProductCode.productCode">
            </div>

            <div class="form-group col-lg-4">
              <label for="productName"><i class="fa fa-product-hunt fa-sm"></i> Nume produs</label>
              <ng-select id="productName" (ngModelChange)="setGeneratedProductCode($event)"
                         formControlName="productName">
                <ng-option *ngFor="let generatedProductCode of productCodesList"
                           [value]="generatedProductCode">
                  {{generatedProductCode.productName}}
                </ng-option>
              </ng-select>
            </div>

            <div class="form-group col">
              <label for="manufacturer"><i class="fa fa-industry fa-sm"></i> Producator</label>
              <input type="text" class="form-control" id="manufacturer" formControlName="manufacturer">
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label for="socket"><img class="fav-icon-small" src="./assets/icons/cpu.ico"/> Socket</label>
              <input type="text" class="form-control" id="socket" formControlName="socket">
            </div>
            <div class="form-group col">
              <label for="priceIn"><i class="fa fa-money fa-sm"></i> Pret intrare (Lei)</label>
              <input type="number" class="form-control" id="priceIn" formControlName="priceIn" min="0">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-4">
              <label for="state"><img class="fav-icon-small" src="./assets/icons/state.ico"/> Stare</label>
              <select class="form-control" id="state" formControlName="state">
                <option disabled value="" selected>Selecteaza stare...</option>
                <option *ngFor="let state of stateList">{{state}}</option>
              </select>
            </div>
            <div class="form-group col-lg-8">
              <label for="productInformation"><i class="fa fa-info-circle fa-sm"></i> Informatii produs</label>
              <input type="text" class="form-control" id="productInformation" formControlName="productInformation">
            </div>
          </div>


          <div class="modal-footer">
            <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">
              Inchide
            </button>
            <button id="addCpuCooler-btn" *ngIf="isAddMode" type="submit" class="btn btn-primary"
                    data-target="#modalCpuCooler"
                    [disabled]="validatingForm.invalid">Adauga
            </button>
            <button id="editCpuCooler-btn" *ngIf="!isAddMode" type="submit" class="btn btn-success"
                    data-target="#modalCpuCooler"
                    [disabled]="validatingForm.invalid">Salveaza modificarile
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal End Add/Edit Cpu Cooler -->

<!-- Modal Filter Right -->
<div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-aside" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filtreaza coolere CPU</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="accordion">

          <div class="card">
            <div class="card-header" id="headingManufacturer">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseManufacturer"
                        aria-expanded="false"
                        aria-controls="collapseManufacturer">
                  Producator<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseManufacturer" class="collapse" aria-labelledby="headingManufacturer"
                 data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let manufacturer of manufacturersList">
                  <input class="form-check-input" type="checkbox" value="{{manufacturer}}" id="{{manufacturer}}"
                         name="manufacturer">
                  <label class="form-check-label" for="{{manufacturer}}">
                    {{manufacturer}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSocket">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSocket"
                        aria-expanded="false"
                        aria-controls="collapseSocket">
                  Socket<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseSocket" class="collapse" aria-labelledby="headingSocket"
                 data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let socketCpuCooler of socketsCpuCooler">
                  <input class="form-check-input" type="checkbox" value="{{socketCpuCooler}}" id="{{socketCpuCooler}}"
                         name="socket">
                  <label class="form-check-label" for="{{socketCpuCooler}}">
                    {{socketCpuCooler}}
                  </label>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="headingState">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseState"
                        aria-expanded="false" aria-controls="collapseState">
                  Stare<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseState" class="collapse" aria-labelledby="headingState" data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let state of stateList">
                  <input class="form-check-input" type="checkbox" value="{{state}}" id="{{state}}"
                         name="state">
                  <label class="form-check-label" for="{{state}}">
                    {{state}}
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="resetFilters()" type="button" class="btn btn-primary">Reseteaza filtre</button>
      </div>
    </div>
  </div> <!-- modal-bialog .// -->
</div>
<!-- End Modal Filter Right -->
