<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 class="h4"><i class="fas fa-memory fa-lg"></i> Memorii RAM</h1>
      </div>

      <ul class="nav nav-tabs" id="memoryRamTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="memory-ram-tab" data-toggle="tab" href="#memory-ram" role="tab"
             aria-controls="memory-ram" aria-selected="true" (click)="goBack()">Toate produsele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="memory-ram-stock-tab" data-toggle="tab" href="#memory-ram-stock" role="tab"
             aria-controls="memory-ram-stock" aria-selected="false">Vezi stocuri</a>
        </li>
      </ul>

      <div class="tab-content" id="memoryRamTabContent">

        <!-- Tab Table Memory Ram -->
        <div class="tab-pane fade show active mx-3" id="memory-ram" role="tabpanel" aria-labelledby="memory-ram-tab">
          <nav aria-label="Page navigation example">
            <div class="row py-3">
              <div class="col-auto mr-auto">
                <div class="form-control-custom pull-left">
                  <span class="pagination-info">Vezi </span>
                  <select class="btn-secondary" id="selectPageSize"
                          (change)="handlePageSizeChangeSearchAndFilter($event)">
                    <option>10</option>
                    <option>50</option>
                    <option>100</option>
                  </select>
                  <span class="pagination-info"> produse</span>
                </div>
              </div>
              <div class="col-auto">
                <input #inputSearch (keydown.enter)="getEventSearchResult($event)" class="search form-control"
                       placeholder="Cautare...">
              </div>
              <div class="btn-group col-auto" role="group" aria-label="filter-refresh-search">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modalMemoryRam">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-info" (click)="clearSearch()">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-warning"
                        data-toggle="modal" data-target="#modal_aside_right">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </nav>

          <table class="table table-sm table-striped table-hover shadow-sm motherboard-table-custom">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Cod Produs</th>
              <th scope="col">Serial Number</th>
              <th scope="col">Nume Produs</th>
              <th scope="col">Producator</th>
              <th scope="col">Module</th>
              <th scope="col">Tip memorie</th>
              <th scope="col">Frecventa</th>
              <th scope="col">Capacitate (GB)</th>
              <th scope="col">Pret intrare (Lei)</th>
              <th scope="col">Informatii produs</th>
              <th scope="col">Stare</th>
              <th scope="col">Actiune</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let memoryRam of memoryRamList | paginate: {
        id: 'memory_ram_pagination',
        itemsPerPage: pageSizeMemoryRam,
        currentPage: pageMemoryRam,
        totalItems: count
  }">
              <td>{{memoryRam.generateProductCodeMemoryRam.productCode}}</td>
              <td>{{memoryRam.serialNumber}}</td>
              <td>{{memoryRam.generateProductCodeMemoryRam.productName}}</td>
              <td>{{memoryRam.manufacturer}}</td>
              <td>{{memoryRam.module}}</td>
              <td>{{memoryRam.ramType}}</td>
              <td>{{memoryRam.frequency}}</td>
              <td>{{memoryRam.capacity}}</td>
              <td>{{memoryRam.priceIn}}</td>
              <td>{{memoryRam.productInformation}}</td>
              <td>{{memoryRam.state}}</td>
              <td>
                <a class="mr-2" type="button" (click)="patchForm(memoryRam)" data-toggle="modal"
                   data-target="#modalMemoryRam"><i
                  class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
                <a type="button" (click)="deleteMemoryRam(memoryRam)"><i class="fa fa-trash fa-lg"
                                                                         style="color: red"></i></a>
              </td>
            </tr>
            </tbody>
          </table>

          <!--    CARD TABLE FOR RESOLUTIONS UNDER 1024-->
          <div class="row row-cols-1 row-cols-lg-2" id="card-component">
            <div *ngFor="let memoryRam of memoryRamList | paginate: {
    id: 'memory_ram_pagination',
    itemsPerPage: pageSizeMemoryRam,
    currentPage: pageMemoryRam,
    totalItems: count
    }" class="col mb-4">
              <div class="card border-secondary mb-3 h-100">
                <div class="card-header text-center"><span class="h6">Cod Produs: </span>{{memoryRam.generateProductCodeMemoryRam.productCode}}</div>
                <div class="card-body text-card-custom">
                  <span class="title-span-custom">Serial Number: </span> <span
                  class="pull-right">{{memoryRam.serialNumber}}</span>
                  <br><span class="title-span-custom">Nume Produs: </span> <span
                  class="pull-right">{{memoryRam.generateProductCodeMemoryRam.productName}}</span>
                  <br><span class="title-span-custom">Producator: </span> <span
                  class="pull-right">{{memoryRam.manufacturer}}</span>
                  <br><span class="title-span-custom">Module: </span> <span
                  class="pull-right">{{memoryRam.module}}</span>
                  <br><span class="title-span-custom">Tip memorie: </span> <span
                  class="pull-right">{{memoryRam.ramType}}</span>
                  <br><span class="title-span-custom">Frecventa: </span> <span
                  class="pull-right">{{memoryRam.frequency}}</span>
                  <br><span class="title-span-custom">Capacitate (GB): </span> <span
                  class="pull-right">{{memoryRam.capacity}}</span>
                  <br><span class="title-span-custom">Pret intrare: </span> <span
                  class="pull-right">{{memoryRam.priceIn}}</span>
                  <br><span class="title-span-custom">Informatii produs: </span> <span
                  class="pull-right">{{memoryRam.productInformation}}</span>
                  <br><span class="title-span-custom">Stare: </span> <span class="pull-right">{{memoryRam.state}}</span>
                  <br><span class="title-span-custom">Actiune: </span>
                  <span class="pull-right">
            <a class="mr-2" type="button" (click)="patchForm(memoryRam)" data-toggle="modal"
               data-target="#modalMemoryRam"><i
              class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
            <a type="button" (click)="deleteMemoryRam(memoryRam)"><i class="fa fa-trash fa-lg"
                                                                     style="color: red"></i></a>
            </span>
                </div>
              </div>
            </div>
          </div>
          <!--    END CARD TABLE FOR RESOLUTIONS UNDER 1024-->

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <pagination-controls id="memory_ram_pagination" previousLabel="Inapoi" nextLabel="Urmatorul"
                                   responsive="true" directionLinks="true"
                                   (pageChange)="handlePageChangeSearchAndFilter($event)"
                                   (pageBoundsCorrection)="handlePageChangeSearchAndFilter($event)">
              </pagination-controls>
            </ul>
          </nav>

        </div>
        <!-- End Tab Table Memory Ram -->

        <!-- Table Memory Ram by Product Code -->
        <div class="tab-pane fade mx-3" id="memory-ram-stock" role="tabpanel" aria-labelledby="memory-ram-stock-tab">

          <!-- Table Stock Memory Ram -->
          <div *ngIf="isTableProductCodeSelected">
            <nav aria-label="Page navigation stock table">
              <div class="row py-3">
                <div class="col-auto mr-auto">
                  <div class="form-control-custom pull left">
                    <span class="pagination-info">Vezi </span>
                    <select class="btn-secondary" id="selectPageSizeForStock" (change)="handlePageSizeChangeProductCodesWithStock($event)">
                      <option>10</option>
                      <option>50</option>
                      <option>100</option>
                    </select>
                    <span class="pagination-info"> coduri de produs</span>
                  </div>
                </div>
                <div class="col-auto my-auto-2">
                  <input #inputSearchStock (keydown.enter)="getSearchResultProductCodesWithStock($event)"
                         class="search form-control"
                         placeholder="Cautare...">
                </div>
                <div class="col-auto">
                  <button class="btn btn-info" (click)="clearSearchProductCodesWithStock()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </nav>
            <table class="table table-striped table-hover shadow-sm table-power-source">
              <thead class="thead-dark">
              <tr>
                <th>Cod Produs</th>
                <th>Nume produs</th>
                <th>Stoc</th>
                <th>Pret mediu</th>
                <th>Memorii RAM</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let productCode of productCodesWithStock | paginate: {
id: 'product_codes_with_stock',
itemsPerPage: pageSizeProductCodeWithStock,
currentPage: pageProductCodeWithStock,
totalItems: countProductCodeWithStock
}">
                <td>{{productCode.generateProductCodeMemoryRam.productCode}}</td>
                <td>{{productCode.generateProductCodeMemoryRam.productName}}</td>
                <td>{{productCode.stock}}</td>
                <td>{{productCode.averagePrice | number: '1.2-2'}}</td>
                <td>
                  <button (click)="getMemoryRamByProductCode(productCode.generateProductCodeMemoryRam.productCode)" type="button" class="btn btn-info">
                    Vezi <i class="fa fa-external-link" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

            <!--    CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <div class="row row-cols-1 row-cols-lg-2" id="card-component-by-stock">
              <div *ngFor="let productCode of productCodesWithStock | paginate: {
                        id: 'product_codes_with_stock',
                        itemsPerPage: pageSizeProductCodeWithStock,
                        currentPage: pageProductCodeWithStock,
                        totalItems: countProductCodeWithStock
                        }" class="col mb-4">
                <div class="card border-secondary mb-3 h-100" >
                  <div class="card-header text-center"><span class="h6">Cod Produs: </span>{{productCode.generateProductCodeMemoryRam.productCode}}</div>
                  <div class="card-body text-card-custom">
                    <br><span class="title-span-custom">Nume Produs: </span> <span class="pull-right">{{productCode.generateProductCodeMemoryRam.productName}}</span>
                    <br><span class="title-span-custom">Stock: </span> <span class="pull-right">{{productCode.stock}}</span>
                    <br><span class="title-span-custom">Pret mediu: </span> <span class="pull-right">{{productCode.averagePrice | number: '1.2-2'}}</span>
                    <br><span class="title-span-custom">Memorii RAM: </span>
                    <button (click)="getMemoryRamByProductCode(productCode.generateProductCodeMemoryRam.productCode)" type="button"
                            class="btn btn-info pull-right">
                      Vezi <i class="fa fa-external-link" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--    END CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" id="product_codes_with_stock"
                                     (pageChange)="handlePageChangeProductCodesWithStock($event)"
                                     (pageBoundsCorrection)="handlePageChangeProductCodesWithStock($event)"></pagination-controls>
              </ul>
            </nav>
          </div>
          <!-- End Table Stock Fan Case -->

          <!-- Table Memory Ram by Product Code -->
          <div *ngIf="!isTableProductCodeSelected">
            <nav aria-label="Page navigation example">
              <div class="row py-3">
                <div class="col-auto mr-auto">
                  <div class="form-control-custom pull-left">
                    <span class="pagination-info">Vezi </span>
                    <select class="btn-secondary" id="selectPageSizeByProductCode"
                            (change)="handlePageSizeChangeMemoryRamByProductCode($event)">
                      <option>10</option>
                      <option>50</option>
                      <option>100</option>
                    </select>
                    <span class="pagination-info"> produse</span>
                  </div>
                </div>
                <div class="btn-group col-auto" role="group" aria-label="add-product-back-to-list">
                  <button (click)="goBack()" type="button" class="btn btn-warning" >Inapoi la lista</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                          data-target="#modalMemoryRam">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </nav>
            <table class="table table-sm table-striped table-hover shadow-sm motherboard-table-custom">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Cod Produs</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Nume Produs</th>
                <th scope="col">Producator</th>
                <th scope="col">Module</th>
                <th scope="col">Tip memorie</th>
                <th scope="col">Frecventa</th>
                <th scope="col">Capacitate</th>
                <th scope="col">Pret intrare (Lei)</th>
                <th scope="col">Informatii produs</th>
                <th scope="col">Stare</th>
                <th scope="col">Actiune</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let memoryRam of memoryRamListByProductCode | paginate: {
        id: 'memory_ram_by_product_code',
itemsPerPage: pageSizeMemoryRamByProductCode,
currentPage: pageMemoryRamByProductCode,
totalItems: countMemoryRamByProductCode
}">
                <td>{{memoryRam.generateProductCodeMemoryRam.productCode}}</td>
                <td>{{memoryRam.serialNumber}}</td>
                <td>{{memoryRam.generateProductCodeMemoryRam.productName}}</td>
                <td>{{memoryRam.manufacturer}}</td>
                <td>{{memoryRam.module}}</td>
                <td>{{memoryRam.ramType}}</td>
                <td>{{memoryRam.frequency}}</td>
                <td>{{memoryRam.capacity}}</td>
                <td>{{memoryRam.priceIn}}</td>
                <td>{{memoryRam.productInformation}}</td>
                <td>{{memoryRam.state}}</td>
                <td>
                  <a class="mr-2" type="button" (click)="patchForm(memoryRam)" data-toggle="modal" data-target="#modalMemoryRam"><i
                    class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
                  <a type="button" (click)="deleteMemoryRam(memoryRam)"><i class="fa fa-trash fa-lg"
                                                                           style="color: red"></i></a>
                </td>
              </tr>
              </tbody>
            </table>

            <!--    CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <div class="row row-cols-1 row-cols-lg-2" id="card-component-by-product-code">
              <div *ngFor="let memoryRam of memoryRamListByProductCode | paginate: {
                        id: 'memory_ram_by_product_code',
                        itemsPerPage: pageSizeMemoryRamByProductCode,
                        currentPage: pageMemoryRamByProductCode,
                        totalItems: countMemoryRamByProductCode
                        }" class="col mb-4">
                <div class="card border-secondary mb-3 h-100">
                  <div class="card-header text-center"><span class="h6">Cod Produs: </span>{{memoryRam.generateProductCodeMemoryRam.productCode}}</div>
                  <div class="card-body text-card-custom">
                    <span class="title-span-custom">Serial Number: </span> <span class="pull-right">{{memoryRam.serialNumber}}</span>
                    <br><span class="title-span-custom">Nume Produs: </span> <span class="pull-right">{{memoryRam.generateProductCodeMemoryRam.productName}}</span>
                    <br><span class="title-span-custom">Producator: </span> <span class="pull-right">{{memoryRam.manufacturer}}</span>
                    <br><span class="title-span-custom">Module: </span> <span class="pull-right">{{memoryRam.module}}</span>
                    <br><span class="title-span-custom">Tip memorie: </span> <span class="pull-right">{{memoryRam.ramType}}</span>
                    <br><span class="title-span-custom">Frecventa: </span> <span class="pull-right">{{memoryRam.frequency}}</span>
                    <br><span class="title-span-custom">Capacitate: </span> <span class="pull-right">{{memoryRam.capacity}}</span>
                    <br><span class="title-span-custom">Pret intrare: </span> <span class="pull-right">{{memoryRam.priceIn}}</span>
                    <br><span class="title-span-custom">Informatii produs: </span> <span class="pull-right">{{memoryRam.productInformation}}</span>
                    <br><span class="title-span-custom">Stare: </span> <span class="pull-right">{{memoryRam.state}}</span>
                    <br><span class="title-span-custom">Actiune: </span>
                    <span class="pull-right">
            <a class="mr-2" type="button" (click)="patchForm(memoryRam)" data-toggle="modal" data-target="#modalMemoryRam"><i
              class="fa fa-edit fa-lg" style="color: #d19b3d"></i></a>
            <a type="button" (click)="deleteMemoryRam(memoryRam)"><i class="fa fa-trash fa-lg" style="color: red"></i></a>
            </span>
                  </div>
                </div>
              </div>
            </div>
            <!--    END CARD TABLE FOR RESOLUTIONS UNDER 1024-->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" id="memory_ram_by_product_code"
                                     (pageChange)="handlePageChangeMemoryRamByProductCode($event)"
                                     (pageBoundsCorrection)="handlePageChangeMemoryRamByProductCode($event)"></pagination-controls>
              </ul>
            </nav>
          </div>
          <!-- End Table All Memory Ram by Product Code -->
        </div>
        <!-- End Table Memory Ram by Product Code -->

      </div>

    </div>
  </div>
</div>


<!-- Modal Add/Edit Memory Ram -->
<div class="modal fade" id="modalMemoryRam" data-backdrop="static" data-keyboard="false"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="isAddMode" class="modal-title" id="staticBackdropLabel"><i class="fas fa-memory fa-lg"></i> Adauga memorie RAM</h5>
        <h5 *ngIf="!isAddMode" class="modal-title" id="editStaticBackdropLabel"><i class="fas fa-memory fa-lg"></i> Editare
          memorie RAM</h5>
        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col">
              <label for="generateProductCodeMemoryRam"><i class="fa fa-barcode fa-sm"></i> Cod produs</label>
              <input type="text" class="form-control" id="generateProductCodeMemoryRam" formControlName="generateProductCodeMemoryRam"
                     [value]="selectedProductCode.productCode">
            </div>

            <div class="form-group col-lg-4">
              <label for="productName"><i class="fa fa-product-hunt fa-sm"></i> Nume produs</label>
              <ng-select id="productName" (ngModelChange)="setGeneratedProductCode($event)"
                         formControlName="productName">
                <ng-option *ngFor="let generatedProductCode of productCodesList"
                           [value]="generatedProductCode">
                  {{generatedProductCode.productName}}
                </ng-option>
              </ng-select>
            </div>

            <div class="form-group col">
              <label for="manufacturer"><i class="fa fa-industry fa-sm"></i> Producator</label>
              <input type="text" class="form-control" id="manufacturer" formControlName="manufacturer">
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label for="serialNumber"><i class="fa fa-barcode fa-sm"></i> Serial number</label>
              <input type="text" class="form-control" id="serialNumber" formControlName="serialNumber">

              <div *ngIf="isSerialNumberPresent" class="form-group alert alert-warning">
                <span>{{errorMessage}}</span>
              </div>
            </div>

            <div class="form-group col-lg-4">
              <label for="module"><img class="fav-icon-small" src="../../../../../assets/icons/module_ram.ico"/> Module</label>
              <select class="form-control" id="module" formControlName="module">
                <option disabled value="" selected>Selecteaza modul...</option>
                <option *ngFor="let ramModule of ramModuleList">{{ramModule}}</option>
              </select>
            </div>

            <div class="form-group col">
              <label for="ramType"><i class="fas fa-question fa-sm"></i> Tip memorie</label>
              <select class="form-control" id="ramType" formControlName="ramType">
                <option disabled value="" selected>Selecteaza tip memorie...</option>
                <option *ngFor="let typeOfMemoryRam of typeOfMemoryRamList">{{typeOfMemoryRam}}</option>
              </select>
            </div>

          </div>

          <div class="row">

            <div class="form-group col">
              <label for="frequency"><i class="fas fa-wave-square fa-sm"></i> Frecventa (Mhz)</label>
              <input type="number" min="0" class="form-control" id="frequency" formControlName="frequency">
            </div>

            <div class="form-group col-lg-4">
              <label for="capacity"><i class="far fa-hdd fa-sm"></i> Capacitate (GB)</label>
              <input type="number" min="0" class="form-control" id="capacity" formControlName="capacity">
            </div>

            <div class="form-group col">
              <label for="priceIn"><i class="fa fa-money fa-sm"></i> Pret intrare (Lei)</label>
              <input type="number" class="form-control" id="priceIn" formControlName="priceIn" min="0">
            </div>

          </div>

          <div class="row">
            <div class="form-group col-lg-4">
              <label for="state"><img class="fav-icon-small" src="./assets/icons/state.ico"/> Stare</label>
              <select class="form-control" id="state" formControlName="state">
                <option disabled value="" selected>Selecteaza stare...</option>
                <option *ngFor="let state of stateList">{{state}}</option>
              </select>
            </div>
            <div class="form-group col-lg-8">
              <label for="productInformation"><i class="fa fa-info-circle fa-sm"></i> Informatii produs</label>
              <input type="text" class="form-control" id="productInformation" formControlName="productInformation">
            </div>
          </div>

          <div class="modal-footer">
            <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">
              Inchide
            </button>
            <button id="addMemoryRam-btn" *ngIf="isAddMode" type="submit" class="btn btn-primary"
                    data-target="#modalMemoryRam"
                    [disabled]="validatingForm.invalid">Adauga
            </button>
            <button id="editMemoryRam-btn" *ngIf="!isAddMode" type="submit" class="btn btn-success"
                    data-target="#modalMemoryRam"
                    [disabled]="validatingForm.invalid">Salveaza modificarile
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal End Add/Edit Memory Ram -->

<!-- Modal Filter Right -->
<div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-aside" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filtreaza Memorii RAM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="accordion">

          <div class="card">
            <div class="card-header" id="headingManufacturer">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseManufacturer"
                        aria-expanded="false"
                        aria-controls="collapseManufacturer"> Producator<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseManufacturer" class="collapse" aria-labelledby="headingManufacturer"
                 data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let manufacturer of manufacturersList">
                  <input class="form-check-input" type="checkbox" value="{{manufacturer}}" id="{{manufacturer}}"
                         name="manufacturer">
                  <label class="form-check-label" for="{{manufacturer}}">
                    {{manufacturer}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingModule">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseModule"
                        aria-expanded="false"
                        aria-controls="collapseModule">Module<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseModule" class="collapse" aria-labelledby="headingModule"
                 data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let module of modulesList">
                  <input class="form-check-input" type="checkbox" value="{{module}}" id="{{module}}"
                         name="module">
                  <label class="form-check-label" for="{{module}}">
                    {{module}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingRamType">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseRamType"
                        aria-expanded="false"
                        aria-controls="collapseRamType">
                  Tip memorie<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseRamType" class="collapse" aria-labelledby="headingRamType"
                 data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let ramType of ramTypesList">
                  <input class="form-check-input" type="checkbox" value="{{ramType}}" id="{{ramType}}"
                         name="ramType">
                  <label class="form-check-label" for="{{ramType}}">
                    {{ramType}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFrequency">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFrequency"
                        aria-expanded="false"
                        aria-controls="collapseFrequency">
                  Frecventa (Mhz)<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseFrequency" class="collapse" aria-labelledby="headingFrequency"
                 data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let frequency of frequenciesList">
                  <input class="form-check-input" type="checkbox" value="{{frequency}}" id="{{frequency}}"
                         name="frequency">
                  <label class="form-check-label" for="{{frequency}}">
                    {{frequency}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingCapacity">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCapacity"
                        aria-expanded="false"
                        aria-controls="collapseCapacity">
                  Capacitate (GB)<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseCapacity" class="collapse" aria-labelledby="headingCapacity"
                 data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let capacity of capacitiesList">
                  <input class="form-check-input" type="checkbox" value="{{capacity}}" id="{{capacity}}"
                         name="capacity">
                  <label class="form-check-label" for="{{capacity}}">
                    {{capacity}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingState">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseState"
                        aria-expanded="false" aria-controls="collapseState">
                  Stare<span class="arrow"></span>
                </button>
              </h5>
            </div>
            <div id="collapseState" class="collapse" aria-labelledby="headingState" data-parent="#accordion">
              <div class="card-body">
                <div (change)="getRequestParamsForFilter($event)" class="form-check"
                     *ngFor="let state of stateList">
                  <input class="form-check-input" type="checkbox" value="{{state}}" id="{{state}}"
                         name="state">
                  <label class="form-check-label" for="{{state}}">
                    {{state}}
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="resetFilters()" type="button" class="btn btn-primary">Reseteaza filtre</button>
      </div>
    </div>
  </div> <!-- modal-bialog .// -->
</div>
<!-- End Modal Filter Right -->
